.home-background {

  background-image: #282537;
  background-image: -o-linear-gradient(to bottom, rgba(69, 167, 229, .1), rgba(208, 2, 27, .1)), -o-linear-gradient(rgba(21, 25, 27, 1), rgba(21, 25, 27, 1));
  background-image: -moz-linear-gradient(to bottom, rgba(69, 167, 229, .1), rgba(208, 2, 27, .1)), -moz-linear-gradient(rgba(21, 25, 27, 1), rgba(21, 25, 27, 1));
  background-image: -ms-linear-gradient(to bottom, rgba(69, 167, 229, .1), rgba(208, 2, 27, .1)), -ms-linear-gradient(rgba(21, 25, 27, 1), rgba(21, 25, 27, 1));
  background-image: -webkit-linear-gradient(to bottom, rgba(69, 167, 229, .1), rgba(208, 2, 27, .1)), -webkit-linear-gradient(rgba(21, 25, 27, 1), rgba(21, 25, 27, 1));
  background-image: linear-gradient(to bottom, rgba(69, 167, 229, .1), rgba(208, 2, 27, .1)), linear-gradient(rgba(21, 25, 27, 1), rgba(21, 25, 27, 1))
}

.h1-row {
  margin-top: 73px;
}


.home-imgs {
  padding-top: 20px;
}

.dim-on-open-menu {
  position: fixed;
  height: 100vh;
  top:0;

  width:100vw;
  background-color: black;
  opacity: .4;
  display: none;
}

.easy-123 {
  max-width: calc(100vw - 30px);
}

.header-logo {
}

@media (max-width: 768px) {
  div#mainPage {
    margin-left: 0;
    //min-height: 100vh;
  }
}

@media (max-width: 456px) {
  .content-wrapper .h1-row .h1-col h1.white {
    font-size: 2em;

    & span {
      display: none;
    }

  }

  .header-logo {
    width: calc(100vw - 10%);
  }

  .lets-do-this-row {
    position: absolute;
    bottom: 75px;

    a {
      width: calc(100vw - 30px);
    }
  }
}

