.home-background {

  background-image: #282537;
  background-image: -o-linear-gradient(to bottom, rgba(69, 167, 229, .1), rgba(208, 2, 27, .1)), -o-linear-gradient(rgba(21, 25, 27, 1), rgba(21, 25, 27, 1));
  background-image: -moz-linear-gradient(to bottom, rgba(69, 167, 229, .1), rgba(208, 2, 27, .1)), -moz-linear-gradient(rgba(21, 25, 27, 1), rgba(21, 25, 27, 1));
  background-image: -ms-linear-gradient(to bottom, rgba(69, 167, 229, .1), rgba(208, 2, 27, .1)), -ms-linear-gradient(rgba(21, 25, 27, 1), rgba(21, 25, 27, 1));
  background-image: -webkit-linear-gradient(to bottom, rgba(69, 167, 229, .1), rgba(208, 2, 27, .1)), -webkit-linear-gradient(rgba(21, 25, 27, 1), rgba(21, 25, 27, 1));
  background-image: linear-gradient(to bottom, rgba(69, 167, 229, .1), rgba(208, 2, 27, .1)), linear-gradient(rgba(21, 25, 27, 1), rgba(21, 25, 27, 1))
}

.h1-row {
  padding-top: 80px;
}

.home-imgs {
  padding-top: 20px;
}

.dim-on-open-menu {
  position: fixed;
  height: 100vh;
  top: 0;

  width: 100vw;
  background-color: black;
  opacity: .4;
  display: none;
}

.easy-123 {
  max-width: calc(100vw - 30px);
  transform: translateX(15px);
}

@media (max-width: 600px) {
  .easy-123 {
    transform: translateX(0px);
  }
}

.header-logo {
}

@media (max-width: 768px) {
  div#mainPage {
    margin-left: 0;
    //min-height: 100vh;
  }
}

@media (max-width: 456px) {
  .content-wrapper .h1-row .h1-col h1.white {
    font-size: 25px;
    font-weight: 200;
    line-height: 1.1;

    & span {
      display: none;
    }

  }

  .row.easy-row {
    margin-top: 0;
  }

  .header-logo {
    width: calc(100vw - 10%);
  }
}

mobile-tabs {
  display: none;
  position: fixed;
  bottom: 0;
  z-index: 102;
  width: 100%;
  background: $dark;
  color: $action_red;
  height: 60px;
  text-align: center;

}

@media (max-width: 768px) {

  mobile-tabs {
    display: block;
  }

  div[ui-view="home"] {
    margin-bottom: 0;
  }

}

.lets-do-this-row .btn-red:hover {
  background-color: #660000;
  color: #9d9d9d;
}

@media (max-width: 767px) {

  .content-wrapper .h1-row .h1-col h1.white {
    font-weight: 300;
  }
}

.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

#tv-guide-section {
  background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url("https://s3.amazonaws.com/streamsavvy/Homepage/tvGuideSectionBackground.png");
  background-size: cover;
  background-position: center;
  display: block;
  background-repeat: no-repeat;
  width: 100%;
  font-weight: 300;
  color: #ffffff;
}

#tv-guide-section h1 {
  font-family: "Lato", "proxima-nova", "Helvetica Neue", Arial, sans-serif;
  font-size: 42px;
  font-weight: 900;
  padding-top: 20px;
}

#tv-guide-section p {
  font-family: "Lato", "proxima-nova", "Helvetica Neue", Arial, sans-serif;
  font-size: 25px;
  font-weight: 300;
  padding-top: 20px;
  padding-bottom: 30px;
}

#tv-guide-section img {
  display: block;
  margin: auto;
  max-width: 150px;
  padding: 20px;
}

@media (max-width: 778px) {

  #tv-guide-section img {
    max-width: 200px;
  }
}

.tv-guide-section-container {
  padding-top: 60px;
  max-width: 700px;
}

@media (max-width: 768px) {

  #tv-guide-section-container {
    max-width: 300px;
  }
}

#tv-guide-section .col-xs-6 {
  min-height: 100px;
}

#tv-guide-section .black-tint {
  position: relative;
  background: rgba(0, 0, 0, 0.8);
  padding-top: 8%;
  padding-bottom: 8%;
}

.black-tint {
  position: relative;
  background: rgba(0, 0, 0, 0.8);
}

#sports-category-section {
  background: url("https://s3.amazonaws.com/streamsavvy/Homepage/sportsSectionBackground.png");
  background-size: cover;
  background-position: center;
  display: block;
  background-repeat: no-repeat;
  width: 100%;
  font-weight: 300;
  padding-bottom: 30px;
  padding-top: 30px;
  color: #ffffff;
}

#sports-category-section h1 {
  font-family: "Lato", "proxima-nova", "Helvetica Neue", Arial, sans-serif;
  font-size: 42px;
  font-weight: 900;
  padding-top: 20px;
}

#sports-category-section p {
  font-family: "Lato", "proxima-nova", "Helvetica Neue", Arial, sans-serif;
  text-align: center;
  font-size: 14px;
  font-weight: 200;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

#sports-category-section h4 {
  text-align: center;
  font-weight: 500;
  font-size: 24px;
}

#sports-category-section img {
  display: block;
  margin: auto;
}

.sports-section-container {
  display: block;
  margin: auto;
  max-width: 850px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.well {
  max-width: 300px;
  margin-bottom: 25px;
  display: block;
  margin: auto;
}

.well-one, .well-two, .well-three {
  border-radius: 10px;
  border: 0;
  background: rgba(0, 0, 0, 0.2);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 10px;
}

.well-one p {
  font-weight: 100;
}

#carousel-section {
  background: url("https://s3.amazonaws.com/streamsavvy/Homepage/tvGuideSectionBackground.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 0;
  height: 60vh;
}

#watermark {
  background: url("https://s3.amazonaws.com/streamsavvy/Homepage/logoWatermark.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
  height: 60vh;
}

.item {
  margin-top: 30px;
  margin-bottom: 75px;
  background-position: center;
  background-repeat: no-repeat;

}

.item p {
  display: block;
  max-width: 500px;
  margin: auto;
  text-align: center;
  color: #ffffff;
}

@media (max-width: 760px) {

  .item p {
    max-width: 380px;
  }
}

@media (max-width: 450px) {

  .item p {
    max-width: 250px;
  }
}

@media (max-width: 350px) {

  .item p {
    max-width: 200px;
  }
}

.item h4 {
  padding-top: 30px;
  display: block;
  font-weight: 600;
  margin: auto;
  text-align: center;
  color: #4CA5DC;
}

.item h5 {
  padding-top: 10px;
  display: block;
  font-weight: 400;
  font-style: italic;
  margin: auto;
  text-align: center;
  color: #ffffff;
}

.circle-img {
  border-radius: 50%;
  display: block;
  margin: auto;
  height: 70px;
  width: 70px;
  margin-bottom: 20px;
}

#about-section {
  background: url("https://s3.amazonaws.com/streamsavvy/Homepage/tvGuideSectionBackground.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: initial;
}

#about-section p:hover {
  text-decoration: underline;
}

.maroon-tint {
  position: relative;
  background: rgba(35, 31, 32, 0.9);
  height: 30vh
}

.footer-logo {
  display: block;
  margin: auto;
  padding: 45px;
}

.footer-width {
  display: block;
  margin: auto;
  color: #ffffff;
  max-width: 700px;
  text-align: center;
  padding-bottom: 40px;
}

.footer-container {
  display: block;

}

.footer-container img {
  padding-right: 15px;
  padding-left: 15px;
}

.subscribe-section {
  display: block;
  margin: auto;
}

.subscribe-section input {
  color: #ffffff;
  background-color: #474747;
  padding: 12px;
  width: 100%;
  border: 0;
  outline: none;
  border-radius: 5px;
  margin-right: 8px;
  display: block;
  float: left;
}

.subscribe-section .btn {
  background-color: #6f6f6f;
  color: #ffffff;
  border-radius: 5px;
  display: block;
  float: left;
}

.subscribe-section .btn:hover {
  background-color: #9d9d9d;
  color: #ffffff;
}

@media (max-width: 993px) {
  .subscribe-buttons {
    margin-bottom: 25px;
  }
}

@media (max-width: 574px) {
  .subscribe-section .btn {
    margin-top: 5px;
    margin-bottom: 25px;
  }
}

@media (max-width: 993px) {
  .subscribe-section {
    //margin-left: 15px;
    overflow: auto;
  }
}

@media (max-width: 993px) {
  .footer-container p {
    clear: left;
  }
}

.footer-container p {
  color: #ffffff;
  padding-left: 15px;
}

@media (max-width: 600px) {
  .easy-123 {
    display: none;
  }
}

div[ui-view="home"] {

  & section {

    min-height: 100vh;
    overflow: scroll;
  }

 section-four section{
   min-height: 60vh;
 }
}

#myCarousel {
  height: 60vh;
}

search {
  & .row.show-input {
    margin: 0 auto;
    width: 50%
  }
}

.carousel-inner {

  .item {
    margin-top: 10%;
  }
}

@media (max-width: 768px) {

  search.home-search {
    .show-input {
      width: 100%;
    }


  }

}
