.home-background {

  background-image: #282537;
  background-image: -o-linear-gradient(to bottom, rgba(69, 167, 229, .1), rgba(208, 2, 27, .1)), -o-linear-gradient(rgba(21, 25, 27, 1), rgba(21, 25, 27, 1));
  background-image: -moz-linear-gradient(to bottom, rgba(69, 167, 229, .1), rgba(208, 2, 27, .1)), -moz-linear-gradient(rgba(21, 25, 27, 1), rgba(21, 25, 27, 1));
  background-image: -ms-linear-gradient(to bottom, rgba(69, 167, 229, .1), rgba(208, 2, 27, .1)), -ms-linear-gradient(rgba(21, 25, 27, 1), rgba(21, 25, 27, 1));
  background-image: -webkit-linear-gradient(to bottom, rgba(69, 167, 229, .1), rgba(208, 2, 27, .1)), -webkit-linear-gradient(rgba(21, 25, 27, 1), rgba(21, 25, 27, 1));
  background-image: linear-gradient(to bottom, rgba(69, 167, 229, .1), rgba(208, 2, 27, .1)), linear-gradient(rgba(21, 25, 27, 1), rgba(21, 25, 27, 1))
}

.h1-row {
  margin-top: 73px;
}


.home-imgs {
  padding-top: 20px;
}

