.blog-one{
  margin-bottom: 5%;
  h1{
    font-weight: 700;
    font-size:36px;
  }
  p{
    color: #aeb6bb;
    font-size: 18px;
    font-family: 'Noto Sans', sans-serif;
  }
  h3{
    font-weight: 600;
  }
  ::-moz-selection {
    background-color: #14B23E;
    color: #ffffff;
  }

::selection {
    background-color: #14B23E;
    color: #ffffff;
  }
}
