<section>
    <div class="container-fluid step-three">

        <div class="col-sm-6" ng-repeat="item in hardware track by $index">

            <ss-image-block obj="item" category="hardware">
            </ss-image-block>

        </div>
    </div>

    <div class="col-lg-6">
        <ss-image-block ng-click="toggle">
            hello world
            <img src=https://image.roku.com/ww/images/partials/product-selector/roku-3.png class="img small">
        </ss-image-block>

    </div>

    </div>
</section>

<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-sm-12s">
                        <span class="go_back"> I forgot to select a service</span>
                        <button type="button" class="btn btn-primary btn-lg btn-green round find-out"
                                onclick="location.href='#/getting-started/step/4';"
                                ng-class="{disabled: package.hardware.length < 1}"
                                ng-disabled='package.hardware.length < 1 '>
                            Right On! Time to Review.
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
