<section>
    <div class="container-fluid step-three">

        <div class="col-lg-6" ng-repeat="item in hardware track by $index">

            <ss-image-block obj="item" category="hardware">
            </ss-image-block>

        </div>
    </div>

    <div class="col-lg-6">
        <ss-image-block ng-click="toggle">
            hello world
            <img src=https://image.roku.com/ww/images/partials/product-selector/roku-3.png class="img small">
        </ss-image-block>

    </div>

    </div>
</section>
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <button type="button" class="btn btn-primary btn-lg btn-green round find-out">Find out what you
                    need
                </button>
            </div>
        </div>
    </div>
</section>

