.modal-dialog {
  text-align: center;
  width: 560px;
  // border-top: solid 5px red;
  .modal-footer {

    li {
      float: left;
      height: auto;

      & a {
        margin-bottom: 0;
      }

      &:active > a {
        border-bottom: solid 1px white;
        margin-bottom: 0;
      }

      &:active {
        border-bottom: none;
      }

    }

    padding-top: 0;
    .btn-row {
      padding: 3px;

      .btn {
        width: 100%;
      }

      .twitter {
        background-color: #00aced;
      }
      .facebook {
        background-color: #3b5998;
      }

      .instagram {
        background-color: #517fa4;
      }
    }
  }

  .modal-header {
    margin: 0 auto;
    .modal-title {
      font-size: 24px;
    }
    .please-social {
      font-size: 15px;
      margin-top: 15px;
      padding-bottom: 25px;
      //border-bottom: 1px solid $warm-grey;
      margin-bottom: 25px;
    }
  }
  .wait-minute {
    color: black;
    float: left;
    font-size: 1.5em;
    text-decoration: underline;
    padding-left: 7%;
    padding-top: 1.6%;
  }
  .lets-cut {
    color: white;
    border-radius: 5px;
    margin-right: 8%;
  }
  .form-group {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    margin: 0;
    .email-label {
      float: left;
      font-size: 15px;
      font-weight: normal;
    }
    .div-for-an-or {
      margin-top: 3%;
      font-size: 15px;
    }
  }

}

.btn-login:hover {
  color: #000088;
}

.modal-header {
    padding: 5px;
  div {
    float: right;
    margin: 1px;
  }

  i {
    color: $action_red;
    font-size: 35px;
    opacity: 1;

    &:hover {
      opacity: 1;
    }
  }
}

.modal-content {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.modal-dialog .modal-footer {
  text-align: center;
  padding-top:10px;
  .log-in {
    color: white;
  }
}

.modal-buttons {
  width: 75%;
  margin: 0 auto;

  .btn-social {
    height: 34px;

    margin-top: 5px;
    line-height: 8.5px;
  }

  .fa {
    top: 2px;
  }
}

@media (max-width: 767px) {
  .modal-dialog {
    width: 75%;
    margin: 100px auto;

  }

}

@media (max-width: 534px) {
  .modal-dialog {
    width: 100%;
    height: 100%;
    margin: 0 auto;

  }

  .modal-content {
    height: 100%
  }

  .modal-footer {
    width: 100%;
    position: absolute;
    bottom: 20px;

  }
}

@media (max-width: 425px) {

  .modal-footer {
    padding: 2.5px;
  }
  .modal-buttons {
    width: 100%;
    border-radius: 0;

    .btn {
      height: 50px;

    }

    .btn-social {
      line-height: 25px;
      font-size: 20px;
    }

    .btn-social.btn-sm > :first-child, .fa {
      font-size: 27px;
      line-height: 50px;
      width: 10%;
    }
  }
}

@media (max-height: 500px) {
  .modal-dialog {
    margin: 0 auto;
  }

  .modal-content {
    height: 100vh;
  }
  .btn-social.btn-sm > :first-child, .fa, span.fa.fa-facebook {
    //font-size: 25px;
    //line-height: 50px;
    width: 10%;
  }
}

span.fa.fa-facebook {
  line-height: 45px;
}

@media (max-width: 788px) {
  .not-ready {
    width :100%
  }

}
