.env
db.sqlite3
.idea/
StreamSavvy-Server/bower_components
node_modules
!server
server/__pycache__
__pycache__
.DS_store
ctc_env
venv
*.pyc
#staticfiles

*.ipynb

.yaml
#settings_vars.yaml
db-2.json
sheltered-beyond-9114
StreamSavvy-Server/db.yaml
#angular_app_frontend
bower_components
*.log

