{% load django_seo_js %}


<!-- {% load staticfiles %} -->
<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>

    {% seo_js_head %}
    <!-- specific meta tags from Bootstrap -->
    <!-- these tags must come first in the head -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>

    <!-- SCROLLS -->
    <!-- load bootstrap  -->
    <link href="{% static 'lib/bootstrap/dist/css/bootstrap.css' %}" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,800,300,600,700' rel="stylesheet" type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Noto+Sans:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,100,300,900,700' rel='stylesheet' type='text/css'>
    <link href="{% static 'lib/angular-bootstrap/ui-bootstrap-csp.css' %}">
    <link href="{% static 'main.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.7/slick.css"/>
    <link rel="shortcut icon" href="https://s3.amazonaws.com/streamsavvy/SS_Mark_red.png">
    <link rel="stylesheet" type="text/css" href="{% static 'lib/angular-growl-v2/build/angular-growl.css' %}"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- SPELLS -->
    <!-- load angular and angular route via CDN -->

    {% verbatim %}

    <title ng-bind="MetaTags.title">StreamSavvy</title>
    <meta name="description" content="'StreamSavvy makes it easy to find, access, and stream the TV you want without cable. Visit the site to search, learn, and sign up.'">
    <meta name="keywords" content="{{MetaTags.keywords}}">
    <meta ng-repeat="(key, value) in MetaTags.properties" property="{{key}}" content="{{value}}">
    <meta name="prerender-status-code" content="{{MetaTags.prerender.statusCode}}">
    <meta name="prerender-header" ng-if="MetaTags.prerender.header" content="{{MetaTags.prerender.header}}">

    {% endverbatim %}


    <!-- Begin BlueKai Tag in body-->
    <script type="text/javascript" src="http://tags.bkrtx.com/js/bk-coretag.js"></script>
    <script type="text/javascript">
        bk_addPageCtx('page', 'homepage');
        BKTAG
                .doTag(
                        {
                            site_id: 37454
                            , pixel_limit: 1
                        },
                        function () {

                        });
    </script>
    <!-- End BlueKai Tag -->


    <!-- Hotjar Tracking Code for http://www.streamsavvy.tv -->
    <script>
        (function (h, o, t, j, a, r) {
            h.hj = h.hj || function () {
                        (h.hj.q = h.hj.q || []).push(arguments)
                    };
            h._hjSettings = {hjid: 251683, hjsv: 5};
            a = o.getElementsByTagName('head')[0];
            r = o.createElement('script');
            r.async = 1;
            r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
            a.appendChild(r);
        })(window, document, '//static.hotjar.com/c/hotjar-', '.js?sv=');
    </script>

</head>
 {% block content %}{% endblock %}

</html>
