<!-- {% load staticfiles %} -->
<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- specific meta tags from Bootstrap -->
    <!-- these tags must come first in the head -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>

    <!-- SCROLLS -->
    <!-- load bootstrap  -->
    <link href="{% static 'lib/bootstrap/dist/css/bootstrap.css' %}" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,800,300,600,700' rel="stylesheet" type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Noto+Sans:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,100,300,900,700' rel='stylesheet' type='text/css'>
    <link href="{% static 'lib/angular-bootstrap/ui-bootstrap-csp.css' %}">
    <link href="{% static 'main.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.7/slick.css"/>
    <link href="{% static 'lib/angular-send-feedback/dist/angular-send-feedback.css' %}" rel="stylesheet"/>
    <link rel="shortcut icon" href="https://s3.amazonaws.com/streamsavvy/SS_Mark_red.png">
    <link rel="stylesheet" type="text/css" href="{% static 'lib/angular-growl-v2/build/angular-growl.css' %}"/>

    <!-- SPELLS -->
    <!-- load angular and angular route via CDN -->


    <title>StreamSavvy | Helping You Cut the Cable Cord</title>

</head>

<base href="/">

<body id="background" ng-app='myApp' class="background container ">
<div class="body-wrapper">


    <!-- MAIN CONTENT AND INJECTED VIEWS -->
    <div ui-view autoscroll="true"></div>

    <div growl></div>
    <div id="menu-mask" class="dim-on-open-menu"></div>

    <!-- feed back form-->
    <!--<<div ng-controller="FeedbackCtrl">

        div ng-if="isMobile">
            <angular-feedback options="options"></angular-feedback>
        </div>
    </div>-->

    <!--
    <a id="facebook_login" href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}">login to facebook</a>
    <a id="instagram_login" href="{% url 'social:begin' 'instagram' %}?next={{ request.path }}">login to instagram</a>
    <a id="twitter_login" href="{% url 'social:begin' 'twitter' %}?next={{ request.path }}">login to twitter</a>
    {#{% url "socialauth_disconnect" %}#}

    <div
            class="fb-like"
            data-share="true"
            data-width="450"
            data-show-faces="true">
    </div>
-->

    <script src="{% static 'lib/jquery/dist/jquery.js' %}"></script>
    <script src="{% static 'lib/angular/angular.js' %}"></script>
    <script src="{% static 'lib/angular-mocks/angular-mocks.js' %}"></script>
    <script src="{% static 'lib/angular-resource/angular-resource.js' %}"></script>
    <script src="{% static 'lib/angular-ui-router/release/angular-ui-router.js' %}"></script>
    <script src="{% static 'lib/angular-cookies/angular-cookies.js' %}"></script>
    <script src="{% static 'lib/slick-carousel/slick/slick.js' %}"></script>
    <script src="{% static 'lib/angular-slick/dist/slick.js' %}"></script>
    <script src="{% static 'all.js' %}"></script>
    <script src="{% static 'lib/bootstrap/dist/js/bootstrap.js' %}"></script>
    <script src="{% static 'lib/lodash/lodash.js' %}"></script>
    <script src="{% static 'lib/angular-bootstrap/ui-bootstrap-tpls.js' %}"></script>
    <script src="{% static 'lib/angular-animate/angular-animate.js' %}"></script>
    <script src="{% static 'lib/fuse.js/src/fuse.min.js' %}"></script>
    <script src="https://use.fonticons.com/b92fc55f.js"></script>
    <script src="{% static 'lib/angular-growl-v2/build/angular-growl.js' %}"></script>
    <script src="{% static 'lib/classie/classie.js' %}"></script>


</div>
{#<div>{{ request.user|slugify}} </div>#}
{#    <div id="status" >{{ request.user.is_authenticated }}</div>#}

</body>
</html>
