@mixin fa($icon) {
  @extend .fa;
  @extend .fa-#{$icon}:before;
}

@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

//@import 'sass/feature/chart';
@import 'sass/feature/btn';
@import 'sass/feature/style';
@import "sass/font-awesome/scss/font-awesome";
//@import 'features/progress/progress';
//@import 'features/journey_one/step-one/step-one';
//@import 'features/explain/still-confused/still-confused';
//@import 'features/error/coming-soon/coming-soon';
//@import 'features/journey_one/step-two/step-two';
//@import 'features/journey_one/step-two/step-two';
//@import 'features/journey_one/step-three/step-three';
//@import "features/search/search";
//@import "features/journey_one/modal/modal";
@import 'features/nav/navigation';

@import "features/home/home";
//@import 'features/blog/blog-four/blog-four';
//@import 'features/blog/blog-one/blog-one';
//@import 'features/blog/blog-two/blog-two';
//@import 'features/blog/blog-three/blog-three';
@import 'features/dashboard/dashboard';
@import 'features/dashboard/service-panel/service-panel';
@import 'features/dashboard/show-grid/show-grid';
@import 'features/dashboard/hardware-panel/hardware-panel';
@import 'sass/feature/component';
@import 'sass/feature/default';

html,
button,
input,
div,
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Lato", "proxima-nova", "Helvetica Neue", Arial, sans-serif;
}

//div ui-view {
 // max-width: 1024px;
//}

.container{
  width: 100%;
  padding: 0;
}

