
@mixin top-n-bottom-margin($top-n-bottom) {
  margin-top: $top-n-bottom;
  margin-bottom: $top-n-bottom;
}

@mixin left-n-right-margin($lnr) {
  margin-left: $lnr;
  margin-right: $lnr;
}

//@mixin fa($icon) {
//  @extend .fa;
//  @extend .fa-#{$icon}:before;
//}
//
//@mixin vertical-align($position: relative) {
//  position: $position;
//  top: 50%;
//  -webkit-transform: translateY(-50%);
//  -ms-transform: translateY(-50%);
//  transform: translateY(-50%);
//}

$dark: #15191b;
$warm-grey: #9b9b9b;
$scarlet: #d0021b;
$white: #ffffff;
$white-two: #d8d8d8;
$dark-sky-blue: #45a7e5;
$greyish-brown: #4a4a4a;
$leafy-green: #3fc23f;
$dark-98: rgba(21, 25, 27, 0.98);
$mid-grey: #9AA1A1;

//@import 'sass/feature/chart';
@import 'sass/feature/btn';
@import 'sass/feature/style';
@import "sass/font-awesome/scss/font-awesome";
//@import 'features/progress/progress';
//@import 'features/journey_one/step-one/step-one';
//@import 'features/explain/still-confused/still-confused';
@import 'features/error/coming-soon/coming-soon';
//@import 'features/journey_one/step-two/step-two';
//@import 'features/journey_one/step-two/step-two';
//@import 'features/journey_one/step-three/step-three';
@import "features/search/search";
@import "features/modal/modal";
@import "features/home/home";
//@import 'features/blog/blog-four/blog-four';
//@import 'features/blog/blog-one/blog-one';
//@import 'features/blog/blog-two/blog-two';
//@import 'features/blog/blog-three/blog-three';
@import 'features/dashboard/dashboard';
@import 'features/checkout/checkout';
@import 'features/checkout/checkout-list/checkout-list';
@import 'features/footer/footer';
@import 'features/dashboard/service-panel/service-panel';
@import 'features/dashboard/show-grid/show-grid';

@import 'features/dashboard/hardware-panel/hardware-panel';
@import 'features/dashboard/selected-show/select';

@import 'sass/feature/component';
@import 'features/nav/navigation';
@import "features/mobile/mobile";
//@import 'sass/feature/default';
@import "lib/bootstrap-social/bootstrap-social.css";

html,
button,
input,
div,
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Lato", "proxima-nova", "Helvetica Neue", Arial, sans-serif;
}

body {
  overflow-x: hidden;
}

.container {
  width: 100%;
  padding: 0;
}


.no-scroll {
  overflow: hidden;
}

body {
    -webkit-font-smoothing: subpixel-antialiased;
}
