<section xmlns="http://www.w3.org/1999/html">
    <div class="container-fluid step-four">
        <!-- Show  and services -->

        <div class="row">
            Streaming Services
        </div>
        <div class="row" ng-repeat="row in rows | filter : {selected: true} ">

            <div class="col-sm-3 center service">
                {{ row.service.name }}
            </div>
            <div class="col-sm-9 service-show-list">
                <div class="col-sm-1 show-container-div" ng-repeat="show in row.content">
                    <button type="button" class="btn btn-md square show">
                        {{ show.title }}
                    </button>
                </div>
            </div>
        </div>

        <hr class="black-hr">


        <!-- Hardware -->
        <div class="row">
            <div>Streaming devices</div>
            <div class="hardware-row">
                <div class="col-sm-2 hardware" ng-repeat="item in hardware | filter: {selected : true}">

                <ss-image-block  obj="item" category="hardware">
                </ss-image-block>

            </div>
            </div>
        </div>


        <hr class="black-hr">
            <div class="row">
            <div>Selected Services: 3.50 </div>
            <div>Selected Devices: $.$$</div>
            <div>Tax: Death</div>
        </div>

        <hr class="black-hr">

        <div class="row">
            <div>Total Cost Today: 1,000,0000.00</div>
            <div>Total Monthly Savings : 3 dollars!</div>
        </div>
    </div>

</section>

<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-sm-12s">
                        <!--<span class="go_back"> I forgot to select a service</span>-->
                        <button type="button" class="btn btn-primary btn-lg btn-green round find-out"
                                onclick="location.href='#/getting-started/step/4';">
                            Right On! Let's Finalize This!
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
