<div class="row" ng-if="!isServiceAdded(service)">

    <div class="col-sm-8">
        <button class="btn-already-have" ng-click="addService(service)">Already have this service</button>
    </div>
    <div class="col-sm-4">
        <button class="btn-purchase ">Purchase</button>
    </div>
</div>
</div>
<div ng-if="isServiceAdded(service)" class="col-xs-11 show-added">
    <div class="pull-right">
        <div class="row checkout-green">Added Successfully</div>
        <div class="row checkout-unsub"><a ng-click="removeServiceFromPackage(service)">unsubscribe</a></div>
    </div>
</div>
