<!--<checkout-item ng-repeat="(key,value) in listP" key="key" value="value"> </checkout-item>-->


<div class=" container-fluid gradient-checkout-background">
    <div class="col-sm-12">
        <div class="service-title row"><!--ng-repeat="service in listOfServices"-->
            <div class="ss_image-purchase row">
                <img class="service-image" ng-src="https://s3.amazonaws.com/streamsavvy/service_logos/ota"/>
          <span class="glyphicon glyphicon-info-sign" uib-tooltip="{{ service.description }}" tooltip-placement="right"
                tooltip-class="vw-tooltip"></span>
                <div class="service-options" ng-class="{'selected': service.added==true}">
                    <a href="" ng-click="addService(service)">
                        <span class="got-serv">Already Have A Digital Antenna</span><span class="mobile-got-serv">Buy Antenna</span>
                    </a>
                    <button class="btn btn-remove">Remove</button>
                    <button class="btn btn-purchase"
                            onclick="window.open('http://www.amazon.com/gp/product/B00DHKKI16/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B00DHKKI16&linkCode=as2&tag=stream06-20&linkId=3OKXSTXXFWZ3UEEM', '_blank');">
                        <span class="purch">Purchase Digital Antenna</span><span class="mobile-purch">$</span></button>

                    <div class="added">
                        <img class="green-check" src="https://s3.amazonaws.com/streamsavvy/big-check.svg"/>
                        <div class="going-successful">
                            <div class="add-successful">Added Successfully</div>
                            <div class="keep-going">Keep Going!</div>
                        </div>
                    </div>

                    <a href="" ng-click="removeService(service,'ota')" class="remove-cross"><img
                            src="https://s3.amazonaws.com/streamsavvy/small-x-copy-4.svg"></a>
                </div>
            </div>
            <ul class="list-group ss_show-list" ng-repeat="service in list.ota">
                <li class="ss_show row" ng-repeat="show in service.shows">{{ show.title }}</li>
            </ul>
        </div>

        <div class="service-title row" ng-show="list.sling.length > 0">
            <div class="ss_image-purchase row">
                <img class="service-image" ng-src="https://s3.amazonaws.com/streamsavvy/service_logos/sling-tv.svg"/>
          <span class="glyphicon glyphicon-info-sign" uib-tooltip="{{ list.sling[1].chan.description }}"
                tooltip-placement="right"
                tooltip-class="vw-tooltip"></span>
                <div class="service-options" ng-class="{'selected': service.added==true}">
                    <a href="" ng-click="addService(service)">
                        <span class="got-serv">I Have This Service Already</span><span
                            class="mobile-got-serv">Get App</span>
                    </a>
                    <button class="btn btn-remove">Remove</button>
                    <button class="btn btn-purchase"
                            onclick="window.open('https://www.sling.com/?var=zipOnly', '_blank');">
                        <span class="purch">Purchase</span><span class="mobile-purch">$</span></button>

                    <div class="added">
                        <img class="green-check" src="https://s3.amazonaws.com/streamsavvy/big-check.svg"/>
                        <div class="going-successful">
                            <div class="add-successful">Added Successfully</div>
                            <div class="keep-going">Keep Going!</div>
                        </div>
                    </div>

                    <a href="" ng-click="removeService(service,'ota')" class="remove-cross"><img
                            src="https://s3.amazonaws.com/streamsavvy/small-x-copy-4.svg"></a>
                </div>
            </div>
            <ul class="list-group ss_show-list" ng-repeat="service in list.sling">
                <li class="ss_show row" ng-repeat="show in service.shows">{{ show.title }}</li>
            </ul>
        </div>


        <div class="service-title row" ng-show="list.not_ota.length >0"
             ng-repeat="service in list.not_ota | unwantedChannels"><!--ng-repeat="service in listOfServices"-->
            <div class="ss_image-purchase row">
                <img class="service-image"
                     ng-src="https://s3.amazonaws.com/streamsavvy/service_logos/{{ service.chan.source }}"/>
            <span class="glyphicon glyphicon-info-sign" uib-tooltip="{{ service.description }}"
                  tooltip-placement="right"
                  tooltip-class="vw-tooltip"></span>
                <div class="service-options" ng-class="{'selected': service.added==true}">

                    <a href="" ng-click="addService(service)">
                        <span class="got-serv">I Have This Service Already</span><span
                            class="mobile-got-serv">Get App</span>
                    </a>
                    <button class="btn btn-remove">Remove</button>
                    <a class="btn btn-purchase" target="_blank" ng-href="{{ url }}" ng-mousedown="openTab(service)">
                        <span class="purch">Purchase</span><span class="mobile-purch">$</span></a>


                    <div class="added">
                        <img src="https://s3.amazonaws.com/streamsavvy/big-check.svg"/>
                        <div class="going-successful">
                            <div class="add-successful">Added Successfully</div>
                            <div class="keep-going">Keep Going!</div>
                        </div>
                    </div>

                    <a href="" ng-click="removeService(service,'not_ota')" class="remove-cross"><img
                            src="https://s3.amazonaws.com/streamsavvy/small-x-copy-4.svg"></a>
                </div>
            </div>
            <ul class="list-group ss_show-list">
                <li class="ss_show row" ng-repeat="show in service.shows">{{ show.title }}</li>
            </ul>
        </div>


        <div class="service-title row" ng-repeat="service in list.ppv" ng-show="list.ppv.length > 0">
            <div class="ss_image-purchase row">
                <img class="service-image"
                     ng-src="https://s3.amazonaws.com/streamsavvy/service_logos/{{ service.chan.source }}"/>
          <span class="glyphicon glyphicon-info-sign" uib-tooltip="list.ppv[0].chan.description"
                tooltip-placement="right"
                tooltip-class="vw-tooltip"></span>
                <div class="service-options" ng-class="{'selected': service.added==true}">
                    <a href="" ng-click="addService(service)">
                        <span class="got-serv">I Have This Service Already</span><span
                            class="mobile-got-serv">Get App</span>
                    </a>
                    <button class="btn btn-remove">Remove</button>
                    <a class="btn btn-purchase" target="_blank" ng-href="{{ url }}" ng-mousedown="openTab(service)">
                        <span class="purch">Purchase</span><span class="mobile-purch">$</span></a>

                    <div class="added">
                        <img class="green-check" src="https://s3.amazonaws.com/streamsavvy/big-check.svg"/>
                        <div class="going-successful">
                            <div class="add-successful">Added Successfully</div>
                            <div class="keep-going">Keep Going!</div>
                        </div>
                    </div>

                    <a href="" ng-click="removeService(service,'ota')" class="remove-cross"><img
                            src="https://s3.amazonaws.com/streamsavvy/small-x-copy-4.svg"></a>
                </div>
            </div>
            <ul class="list-group ss_show-list">
                <li class="ss_show row" ng-repeat="show in service.shows">{{ show.title }}</li>
            </ul>
        </div>


        <div class="service-title row" ng-if="(package.data.content | onNetflix).length > 0">
            <div class="ss_image-purchase row">
                <img class="service-image" ng-src="https://s3.amazonaws.com/streamsavvy/service_logos/netflix"/>
          <span class="glyphicon glyphicon-info-sign" uib-tooltip="list.ppv[0].chan.description"
                tooltip-placement="right"
                tooltip-class="vw-tooltip"></span>
                <div class="service-options" ng-class="{'selected': service.added==true}">
                    <a href="" ng-click="addService(service)">
                        <span class="got-serv">I Have This Service Already</span><span
                            class="mobile-got-serv">Get App</span>
                    </a>
                    <button class="btn btn-remove">Remove</button>
                    <button class="btn btn-purchase" onclick="window.open('http://netflix.com/', '_blank');">
                        <span class="purch">Purchase</span><span class="mobile-purch">$</span></button>

                    <div class="added">
                        <img class="green-check" src="https://s3.amazonaws.com/streamsavvy/big-check.svg"/>
                        <div class="going-successful">
                            <div class="add-successful">Added Successfully</div>
                            <div class="keep-going">Keep Going!</div>
                        </div>
                    </div>

                    <a href="" ng-click="removeService(service,'ota')" class="remove-cross"><img
                            src="https://s3.amazonaws.com/streamsavvy/small-x-copy-4.svg"></a>
                </div>
            </div>
            <ul class="list-group ss_show-list">
                <li class="ss_show row" ng-repeat="show in package.data.content | onNetflix">{{ show.title }}</li>
            </ul>
        </div>
    </div>
</div>