<div class="row checkout-steps">
    <div class="col-xs-4">
        <div class="row">
            <i class="fa fa-cloud-download" aria-hidden="true"></i>
        </div>
        <div class="row">
            Subscribe to new apps.
        </div>
    </div>
    <div class="col-xs-4">
        <div class="row">
            <i class="fa fa-plus-square" aria-hiddsen="true"></i>
        </div>
        <div class="row"> Add it if you have it.
        </div>
    </div>
    <div class="col-xs-4">
        <div class="row">
            <i class="fa fa-minus-circle" aria-hidden="true"></i>
        </div>
        <div class="row">
            Hide what you don't want.
        </div>
    </div>
</div>
