<div class="row checkout-steps">
    <div class="col-xs-4">
        <div class="row">
            <i class="fa fa-circle-thin step-numbers" aria-hidden="true"></i>
            <span class="step-number">1</span>
        </div>
        <div class="row">
            Subscribe to new apps.
        </div>
    </div>
    <div class="col-xs-4">
        <div class="row">
            <i class="fa fa-circle-thin step-numbers" aria-hiddsen="true"></i>
            <span class="step-number">2</span>
        </div>
        <div class="row"> Add apps you already have.
        </div>
    </div>
    <div class="col-xs-4">
        <div class="row">
            <i class="fa fa-circle-thin step-numbers" aria-hidden="true"></i>
            <span class="step-number">3</span>
        </div>
        <div class="row">
            Hide what you don't want.
        </div>
    </div>
</div>
