.service-panel.ng-scope{
  @extend %side-panel;

  min-height: 300px;
  max-height: 60vh;

  -webkit-backdrop-filter: blur(9.9px);
  backdrop-filter: blur(9.9px);

  overflow-y: scroll;

  .ss_panel-body{
    margin-bottom:5px;
    margin-left:26px;
    margin-top: 55px;
  }
  .ss_show{
    border: 0;
    background-color: $dashboard-dark;
    color:white;
  }
  .ss_show-list{
    margin-bottom:0;
  }
}
.service-header {
  @extend %ss_panel-header;
}
