
.search-bar {
  //position: relative;
  margin: 0 auto;
  //margin-left: 50px;
  //margin-right: 50px;
  max-width: 808px;
  z-index: 3;

  .dropdown-menu .ng-isolate-scope {

  }
  input {
    height: 61px;
    &.form-control {

      border-color: #c9c9c9;
    }
  }

  .stacked-input-1 {
    position: relative;
    background: transparent;
  }
  //
  //.stacked-input-2 {
  //  position: relative;
  //  z-index: -99999;
  //  color: red;
  //}
}

.just-type {
  margin: 0 auto;
  text-align: center;

  h1 {
    font-weight: 900;
    margin-top: 5%;
    margin-bottom: 10px;
  }
}

ul[id^='typeahead-'], .suggestions-list {
  left: 0;
  right: 0;
  margin: auto;
  padding-left: 12px;
  padding-right: 12px;
  position: absolute;
  //width: 100%;
  //max-width: 80%;
  max-height: 20em;
  display: block;
  overflow: hidden;
  z-index: 1;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  //margin-right: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;

  li {
    list-style: none;
    font-size: 130%;
    color: #555555;
  }
}

@keyframes loader {

  from {
    transform: rotatey(0deg);
  }

  to {
    transform: rotatey(360deg);
  }
}

@keyframes loader-fade {
  from {
    opacity: 100;
  }

  to {
    opacity: 0;
  }

}

.loader {
  position: fixed;
  left: 50%;
  top: 40%;
  margin-left: -50px;
  z-index: 100;

  img {
    max-height: 100px;
    max-width: 100px;

    animation-name: loader;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  p {
    animation-name: loader-fade;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
    text-align: center;

    font-size: 30px;
  }
}

.ss_search {
  margin-top: 60px;
  transition: opacity 500ms, linear;
}

.ss-search-input {
  height: 53px;

  &.has-suggestions {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

}

.floating-label {
  position: absolute;
  top: 17px;
  left: 13px;
  //opacity: 1;
  transition: all 0.3s ease-in;
  color: $dark;

  &.float {
    top: 0px;
    //opacity: 1;
    -webkit-animation: float-fade .3s ease-in;
    -o-animation: float-fade .3s ease-in;
    animation: float-fade .3s ease-in;

  }
}

.show-input {
  position: relative;
  margin: 0;
}

@keyframes float-fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;}
}

.search_transparent {
  opacity: 0;
}