<section class="show-input-form">
    <div class="container-fluid">
        <div class="row">
            <div class="just-type">
                <h1>Search for your shows. Just start typing</h1>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">

            <div class="row show-input search-bar">
                <input type="text" placeholder="Start typing" id="searchInput" ng-keydown="checkKeyDown($event)"
                       class="form-control stacked-input-1" ng-model="searchText" ng-change="search()"/>


                <div class="row suggestions">


                    <ul id="suggestions" class="suggestions-list">
                        <li ng-repeat="suggestion in suggestions" class="blockSpan"
                            ng-click="addToSelectedShows(suggestion)"

                            ng-class="{active : selectedIndex===$index}">
                            {{ suggestion.title }}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>