<!--<nav class="navbar navbar-inverse">

    <a class="navbar-brand" href="/">Cut The Cord</a>


    <ul class="nav navbar-nav navbar-right">
        <li><input ng-model="credentials.username" placeholder="username"/></li>
        <li><input ng-model="credentials.password" placeholder="password"/></li>
        <li><a href="#" ng-click="logout()" > Logout</a></li>
        <li><a href="#" ng-click="login(credentials)" ng-hide="logged_in">Login</a></li>
        <li><a href="#" ng-hide="logged_in">Register</a></li>
        <li><a href="#about"><i class="fa fa-shield"></i> About</a></li>
        <li><a href="#contact"><i class="fa fa-comment"></i> Contact</a></li>
    </ul>

</nav>-->

<nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">

            <a href=""><img class="img-responsive burger" src="/static/img/burger.png"/></a>
            <a href=""><img class="img-responsive logo" src="/static/img/ss_wordmark-norm.png"/></a>
        </div>

    </div>
</nav>

<!--  home page-->
<div ui-view="home"></div>

<!-- search -->
<div ui-view="search"></div>
<div ui-view="chart"></div>

<!--step one -->

<div ui-view=""


<div ui-view="footer"></div>

