<div class="row">

    <div class="col-lg-2 category-header">
        &nbsp;<span class="step">{{ $index + 1 }}</span> Big Game
    </div>

    <div class="col-lg-10 col-md-12 category-description">

        <div class="row">
            <div class="col-md-2 col-xs-6 logo">
                <img ng-src="https://s3.amazonaws.com/streamsavvy/service_logos/sm_2x/{{ row.img }}" height="45px">
            </div>
            <div class="col-md-2 col-xs-6 price-block">
                <p><img src="https://s3.amazonaws.com/streamsavvy/dollar.png" height="27px" width="27px"> {{ row.cost }}</p>
            </div>
            <div class="col-md-3 col-xs-12">
                <p>{{ row.description }}</p>
            </div>
            <div class="col-md-2 col-xs-12">
                <p>{{ row.networks }}</p>
            </div>
            <div class="col-md-2 col-xs-12 button-block">
                <span class="btn">add to package</span>
            </div>
        </div>

    </div>

</div>
