<div class="panel panel-default">
    <div class="panel-heading"> HARDWARE PANEL TEST</div>
    <div class="col-sm-2" ng-repeat="item in hardware">
        <div class="hardware-img" ng-click="addRemoveHardware(item)"
             ng-class="{selected: itemSelected(item) }">
            <img class="img-responsive" ng-src="{{ item.image_url }}"/>
        </div>
        <div class="hardware-name">
            {{ item.name }}
            &nbsp;
                    <span class="glyphicon glyphicon-info-sign" uib-tooltip="{{ item.description }}"
                          tooltip-placement="right"
                          tooltip-class="vw-tooltip"></span>
        </div>

        <div class="hardware-cost">
            ${{ item.retail_cost.toFixed(2) }}
        </div>
    </div>
</div>