
<!--<div class="row service-rows" ng-repeat="provider in package.providers  ">
    <div class=" summary-service">
        <a target="_blank" href="{{ provider.home_url }}" rel="nofollow">{{ provider.display_name }}</a>
    </div>
</div>
-->
<div class="panel panel-default">
    <div class="panel-heading">services and shows</div>
    <div class="panel-body">Netlfix</div>
    <div class="panel-body">Hulu</div>
    <div class="panel-body">Amazon Prime</div>
    <div class="panel-body">Sling</div>
    <div class="panel-body">CBS All Access</div>
</div>
