<div class="ss_panel-body" ng-repeat="service in listOfServices.not_ota | unwantedChannels">
    <a href="" ng-click="service.open = !service.open">{{ (service.chan.name || service.chan.display_name) }}
        <span ng-if="service.chan.on_sling"> Sling TV</span>
    </a>
    <img ng-src="{{ service.guidebox_data.artwork208x117 }}"/>
    <div uib-collapse="service.open">
        <ul class="list-group ss_show-list">
            <li class="list-group-item ss_show" ng-repeat="show in service.shows">{{ show.title }}</li>
        </ul>
    </div>
    <div class="row-buffer"></div>
</div>