<div class="row ss-vw-row" ng-class="{selected: content.viewingWindows[w.type].selected}">

    <div class="col-xs-1">
        <input id="{{ id }}" type="checkbox"
               ng-model="content.viewingWindows[w.type].selected" ng-change="savePackage()">
    </div>
    <div class="col-xs-8">
        <label for="{{ id }}">
            <strong>  {{ w.headerText }}</strong>
        </label>
        <button class="vw-info" uib-popover="{{ popoverText.Live }}" popover-placement="right"
                popover-trigger="mouseenter"></button>
    </div>

    <div class="col-xs-3 dropdown">
        <div uib-dropdown uib-keyboard-nav
             ng-if="content.viewingWindows[id].selected">
            <button id="simple-btn-keyboard-nav" type="button" class=""
                    uib-dropdown-toggle>
                {{ content.viewingWindows[w.type].channel.display_name || "Choose a Provider" }} <span
                    class="glyphicon glyphicon-menu-down"></span>
            </button>
            <ul class="uib-dropdown-menu" role="menu"
                aria-labelledby="simple-btn-keyboard-nav">
                <li role="menuitem"
                    ng-repeat="channel in content.channels.web.episodes.all_sources  ">
                    <div class="dropdown-item"
                         ng-click="content.viewingWindows[id].channel= channel">
                        {{ channel.display_name }}
                    </div>
                </li>
            </ul>
        </div>
    </div>

</div>