.navbar-fixed-top {
  .dashboard & {
    background-color: $dashboard-dark;
  }
  min-height: 50px;

  #showLeftPush {
    color: $action_red;
    background-color: inherit;

    //display: table;
    //vertical-align: middle;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 15px;
    border: none;
    background: none;
    width: 75px;
    img {
      //margin-right: 15px;
    }
  }
}

.dashboard {

  .navbar-fixed-top {
    //background-color: $dark-98;
    //z-index:0;
  }
}

.menu-background {
  //width: 1145px;
  //height: 55px;
  -webkit-backdrop-filter: blur(9.9px);
  backdrop-filter: blur(9.9px);
  background-color: $dark-98;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 1px 0 0 rgba(255, 255, 255, 0.07);
}

.fixed-menu-transform {
  transform: translate(240px, 0)
}

.dashboard .ss_nav.fixed-nav-transform {
  width: 91.65%;
}

#cbp-spmenu-s1 {

}

.cbp-spmenu {
  background: $menu-dark;
}

.cbp-spmenu-push {
  margin-top: 0;
}

.cbp-spmenu-vertical a {
  border-bottom: none;
  padding: 1em;
  //color: $mid-grey;

}

.cbp-spmenu a:hover {
  background-color: inherit;
  border-left: 3px solid $button_hover;
  color: white;
  text-decoration: none !important;

}

.cbp-spmenu a:active {
  //background: $button_click;
  border: none;
  color: white;
}

.cbp-spmenu h3 {
  color: white;
  //font-size: 1.9em;
  padding: 0;
  //padding: 20px;
  //margin: 0;
  //font-weight: 300;
  background: $menu-dark;

}

.nav-space {
  margin-top: 30px;
}

.menu-buttons {
  color: $action_red;
}

.ss-menu {
  padding-bottom: 5%;
  padding-top: 2%;
  min-height: 100vh;
  a {

    padding: 5px;

    color: $greyish-brown;
    font-size: 24px;

    div & {

      margin-left: 10%;
      margin-right: 4%;
    }

    &:focus {
      border: none;
      outline: none;
    }
    .sign-up {
      color: $action_red;
    }
  }
}

.ss-small-menu-options {
  margin-top: 30%;
  a {
    font-size: 18px;

  }
}

.ss-menu-auth {
  width: 100%;
  position: absolute;
  bottom: 10%;
}

#sign-up {
  color: $action_red;

  &:hover {
    color: white;
  }
}

a.active {
  background-color: inherit;
  border-left: 3px solid $button_hover;
  color: white;
  text-decoration: none !important;
}

/* Mobile Styles*/

@media (max-width: 767px) {
  .dashboard .ss_nav {
    width: 100%;
  }
}

a.social-icons {
  border: none;

  &:active {
    background: transparent;
    color: transparent;
  }

  &:hover {
    color: transparent;
  }

  &.active {
    border: none;
  }

  i {
    font-size: 50px;
    transition: color .2s ease-in-out;

    &.fa-twitter-square {
      //color: #55acee;
      &:hover {
        color: #55acee;
      }

      &:active {
        color: #55acee;

      }
    }

    &.fa-facebook-square {

      &:active {
        color: #3B5998;

      }

      &:hover {
        color: #3B5998;

      }
    }
  }

  &:hover {
    border: none;
  }
}

.checkout-back {
  font-size: 25px;
  font-weight: 100;
}
