.navbar-fixed-top{
  background-color: $dashboard-dark;
  min-height: 50px;
  #cbp-spmenu-s1{

  }
  #showLeftPush{
    color: $action_red;
    background-color: inherit;

    display: table;
    vertical-align: middle;
    padding-top:15px;
    padding-bottom:15px;
    img{
          margin-right: 15px;
    }
  }
}
