.dashboard {

  @extend .container;

  .dash {
    margin-left: 1%;
    margin-right: 1%;
  }


  background-color :white;

  .navbar-fixed-top.ng-scope {
    position: relative;
  }

  .search-bar {
    height: 50px;
    padding: 0;
  }

  .services {
    height : 10%
  }

  .plus-minus {

  }

}

