.dashboard {
  $savvy_olive: #EBEBEB;
  $panel_header:#858789;
  $panel_body:#6A6C6E;

  text-transform: uppercase;
  padding-left: 2%;
  padding-right: 1%;

  height: 100vh;
  background: black;
  
  %side-panel{
    background-color: $dashboard-dark;
    color: red;
    border:none;

    .panel-heading{
      background-color: $dashboard-dark;

      font-size: 12px;
      letter-spacing: 0.5px;
      color: $warm-grey;
    }

    .panel-body{
      background-color: $dashboard-dark;
    }
  }



  .navbar-fixed-top.ng-scope {
    position: relative;
  }

  .search-and-shows{
    padding-right: 3%;
    .search-bar {
    height: 50px;
    padding: 0;
    }
    .pop-search{
      margin-top: 10px;
      margin-bottom: 10px;
      float: left;
      color: $warm-grey;
    }
  }

}

