<section class="coming-soon">
    <div class="container-fluid">
        <div class="col-lg-12">
            <div class="row soon-top">
                <div class="soon-logo">
                    <a href="/#/"><img class="img-responsive nav-logo logo just-logo" src="/static/img/SS_Mark_red.png"/></a>
                    <a href="/#/"><img class="img-responsive nav-logo logo logo-and-text" ng-hide="currentStep >=1" src="/static/img/SS_Wordmark_White.png"/></a>
                </div>
            </div>
            <div class="404-body">
                <div class="row">
                    <h2>Error 404 - Page not found</h2>
                </div>
                <div class="row">
                    <p>Take a moment. Empty your cup.</p>
                    <button>Check out our homepage.</button>
                </div>
            </div>
        </div>
    </div>
</section>