<script type="text/ng-template" id="group-template.html">
    <div class="panel {{ panelClass || 'panel-default'}}" ng-class="{ accordionActive : isOpen}">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()"
                   uib-accordion-transclude="heading"><span
                        ng-class="{'text-muted': isDisabled}">{{ heading }}</span></a>
            </h4>
        </div>
        <div class="panel-collapse collapse" uib-collapse="!isOpen">
            <div class="panel-body" ng-transclude></div>
        </div>
    </div>
</script>

<section class="grid-section">
    <div class="container-fluid">
        <div class="row step-one">
            <div class="col-lg-12">
                <div class="row accordion" ng-controller="AccordionController as crtl">
                    <uib-accordion close-others="false">

                        <uib-accordion-group template-url="group-template.html" is-open="true"
                                             ng-repeat="content in packageList">
                            <uib-accordion-heading>
                                <div class="container-fluid">
                                    <div class="row heading">
                                        <div class=" col-xs-1">
                                            <i class="glyphicon glyphicon-plus glyph" ng-if="!$parent.isOpen"></i>
                                            <i class="glyphicon glyphicon-minus glyph" ng-if="$parent.isOpen"></i>
                                        </div>
                                        <div class="col-xs-10 show-title">
                                            {{ content.title }}
                                        </div>
                                    </div>
                                </div>
                            </uib-accordion-heading>

                            <div class="viewWindowIntro">
                                Please Select how you would like to watch this show.
                            </div>

                            <div id="viewingWindows" class="container-fluid ">
                                <div class="row ss-vw-row" ng-class="{selected: content.viewingWindows.live }">
                                    <div class=col-xs-1>
                                        <input id="live" type="checkbox"
                                               ng-model="content.viewingWindows.live">
                                    </div>
                                    <div class="col-xs-11"><label for="live">
                                        Live, Over the Air
                                    </label></div>

                                </div>

                                <div class="row ss-vw-row" ng-class="{selected: content.viewingWindows.onDemand}">
                                    <div class="col-xs-1">
                                        <input id="ondemand" type="checkbox"
                                               ng-model="content.viewingWindows.onDemand">
                                    </div>
                                    <div class="col-xs-8">
                                        <label for="ondemand">
                                            On Demand Subscription
                                            <span class="parens">
                                                (day/+ after live airing)
                                            </span>
                                        </label>
                                    </div>

                                    <div class="dropdown" uib-dropdown uib-keyboard-nav
                                         ng-if="content.viewingWindows.onDemand">
                                        <button id="simple-btn-keyboard-nav" type="button" class=""
                                                uib-dropdown-toggle>
                                            Choose a Provider <span
                                                class="glyphicon glyphicon-menu-down"></span>
                                        </button>
                                        <ul class="uib-dropdown-menu" role="menu"
                                            aria-labelledby="simple-btn-keyboard-nav">
                                            <li role="menuitem"
                                                ng-repeat="provider in content.content_provider" >
                                                <a href="#">{{ provider.name }}</a>
                                            </li>
                                        </ul>
                                    </div>

                                </div>
                                <div class="row ss-vw-row" ng-class="{selected: content.viewingWindows.fullseason}">
                                    <div class="col-xs-1">
                                        <input id="fullseason" type="checkbox"
                                               ng-model="content.viewingWindows.fullseason">
                                    </div>
                                    <div class="col-xs-8">
                                        <label for="fullseason">
                                            Binge Watch Previous Full Seasons
                                        </label>
                                    </div>

                                    <div class="col-xs-2" uib-dropdown uib-keyboard-nav
                                         ng-if="content.viewingWindows.fullseason">
                                        <button id="simple-btn-keyboard-nav" type="button" class=""
                                                uib-dropdown-toggle>
                                            Choose a Provider <span class="caret"></span>
                                        </button>
                                        <ul class="uib-dropdown-menu" role="menu"
                                            aria-labelledby="simple-btn-keyboard-nav">
                                            <li role="menuitem"
                                                ng-repeat="provider in content.content_provider">
                                                <a href="#">{{ provider.name }}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="row ss-vw-row" ng-class="{selected:content.viewingWindows.alacarte}">
                                    <div class="col-xs-1"><input id="alacarte" type="checkbox"
                                                                 ng-model="content.viewingWindows.alacarte">
                                    </div>
                                    <div class="col-xs-11"><label for="alacarte">
                                        Watch Current Season or Episodes for a Fee
                                    </label></div>

                                </div>

                                <div class="row ss-vw-row confirmation">


                                    <div class="col-xs-4 total">
                                        <button type="button" class="btn btn-lg btn-confirm">
                                            Sounds Great
                                        </button>
                                    </div>

                                    <div class="col-xs-4 col-xs-offset-4 total">
                                        <div class="row accord-show-total">
                                            <span class="pull-left">Selection Total:</span>
                                            <span class="pull-right">$8.99</span>
                                        </div>
                                        <div class="row accord-monthly-total">
                                            <span class="pull-left">Your Monthly Total:</span>
                                            <span class="pull-right">$24.99</span>
                                        </div>
                                    </div>


                                </div>

                            </div>


                        </uib-accordion-group>


                    </uib-accordion>
                </div>

            </div>
        </div>
    </div>
</section>

<div class="row">
    <span class="pop-show-header">Popular Show Searches</span>

</div>

<div class="row" ng-controller="StepOneController as ctrl">
    <slick infinite=true arrows=true slides-to-show="3" init-onload=true data="ctrl.popularShows"
           ng-if="ctrl.popularShows.length">
        <div ng-repeat="show in ctrl.popularShows" ng-click="alert('hello')">
            <img ng-src="{{ show.thumbnail_medium }} "/>
        </div>
    </slick>


</div>
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 shows-bottom">
                <button type="button" class="btn btn-primary btn-lg btn-red search-next-show"
                        onclick="location.href='#/getting-started/step/2';">Search Next Show
                </button>
            </div>
        </div>
    </div>
</section>

