body {
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}

input[type="text"] {
  font-size: 130%;
}

.show-input {
  padding-top: 3%;
  padding-bottom: 5%;
  margin-left: 15px;
  margin-right: 15px;
}

.form-control {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  box-sizing: border-box;
  border-radius: 0px;
  height: 55px;
  //max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
}

.grid-section {
  min-height: 300px;
}

ul {
  padding-left: 0px;
}

.step-one {

  //max-width: 80%;
  margin-left: auto;
  margin-right: auto;



  .show-toggle {
    float : left;
    overflow: auto;
    height : 100%;
    //background-color : darkgrey;
    display: flex;
    padding: 0;
  }

  .show-title {

    //height: 100%;
    display: flex;
    font-size: 1.2em;
    font-weight: 700;
    padding-top: 10px;
    padding-left: 75px;
    position: absolute;

  }
  .panel-heading {
    height: 50px;
  }
  .panel-default > .panel-heading {
    color: black;
    background-color: white;
    border-color: #ddd;
    padding: 0;
  }
  i.glyphicon.glyphicon-plus.ng-scope {
    font-size: 1.6em;
    background-color: #45a7e5;
    color: white;
    background-size: 20px 20px;
    padding-left: 15px;
    padding-top: 12px;
    padding-bottom: 14px;
    padding-right: 13px;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    top: -1px;
    position: absolute;
  }
  .row.content-name.ng-binding.ng-scope {
    padding-left: 2%;
  }
  .col-sm-1.ng-scope {
    padding: 0;
  }
}



ul.btn-list-grid li {
  display: inline-flex;
  padding-right: 1.5%;
  position: relative;
  margin-right: 1.25%;
  margin-bottom: 1.75%;
}

.btn-group {
  margin-left: auto;
  margin-right: auto;
  padding-left: 10%;
  padding-right: 10%;
  margin-bottom: 2%;
}

@media(max-width: 540px) {

  .btn-group {
    margin-left: 1%;
    margin-right: 2%;
  }
}

.accordion {

  color: black;

}

#viewingWindows {

  .selected {
    background : #32D495;

  }

  .row {
    height: 63px;
  }

  .parens{
    font-size : 10px;
    color: #A8A8A8;

  }

}

