.step-three {

  img {
    max-width: 100%;
    max-height: 250px;
  }

  .selected {
    border: .15em solid;
    border-color: #3b94e3;
    border-radius: 1.5em;
    border-top-right-radius: 0;
    padding: 7px;

    .checkmark {
      background-color: #ffffff;
      font-size: 2em;
      position: absolute;
      border-radius: 100%;
      color: #3b94e3;
      z-index: 2;
      top: -12px;
      right: 5px;
      display: block;

    }
  }

}

.disabled {
  background-color: #808080;

}

.go_back {
  position: absolute;
  bottom: 0;
  right: 5%;
  text-decoration: underline;
  color: black;
}

.go_fwd {
  position: absolute;
  bottom: 0;
  left: 5%;

}

.step-btn {
  height: 50px;
  position: relative;
  padding-right: 5px;
}

