.device-grid{
  border-bottom: solid 2px #dedede;

  .step-three {

    margin-top: 5%;
    margin-bottom: 5%;

    img {
      max-width: 100%;
      max-height: 250px;
    }

    .selected {
      border: .15em solid;
      border-color: #3b94e3;
      border-radius: 1.5em;
      border-top-right-radius: 0;
      padding: 7px;

      .checkmark {
        background-color: #ffffff;
        font-size: 2em;
        position: absolute;
        border-radius: 100%;
        color: #3b94e3;
        z-index: 2;
        top: -12px;
        right: 5px;
        display: block;

      }
    }

  }
}
.btn-row{
  margin-top: 5%;
  margin-bottom: 5%;

.disabled {
  background-color: #808080;

}

.go_back {
  position: relative;
  margin-bottom: 5%;
  margin-right: 7%;
  text-decoration: underline;
  color: black;
  vertical-align: middle;
}

.go_fwd {
  position: absolute;
  bottom: 0;
  left: 5%;

}

.step-btn {
  height: 50px;
  position: relative;
  padding-right: 5px;
}
}
