<div class="modal-body">
    <div class="modal-header">
        <h3 class="modal-title thick-modal-header">Let's Authenticate</h3>
        <h6>Please authenticate entering your email or clicking a social link below</h6>
    </div>
    <div class="modal-body">
        <div class="btn-row">
            <button class="btn btn-primary btn-lg facebook find-out" ng-click="facebookAuth()">FaceBook</button>
        </div>
        <div class="btn-row">
            <button class="btn btn-primary btn-lg twitter find-out" ng-click="twitterAuth()">Twitter</button>
        </div>
        <div class="btn-row">
            <button class="btn btn-primary btn-lg instagram find-out" ng-click="instagramAuth()">Instagram</button>
        </div>

    </div>
    <div class="modal-footer row">
        <a>Oh wait minute</a>
        <button class="btn btn-primary btn-lg btn-red">Let's Cut the Cord</button>
    </div>
</div>