<div class="ss-hardware-panel">
    <div class="service-center">
        <button class="btn btn-red not-ready " onclick="location.href='#/checkout';"
                ng-class="{'ready-for-checkout': pkgHasContent}">

            <span ng-if="!pkgHasContent">Add shows or services</span>
            <span ng-if="pkgHasContent">I'm ready to cut the cord</span>
        </button>
    </div>
    <div class="hardware-header row">
        <div class="col-xs-10">HARDWARE SUGGESTIONS</div>
        <div class="col-xs-2" ng-click="toggleHardwarePanel()">
            <i ng-if="collapseHardware==false" class="fa fa-chevron-down"></i>
            <i ng-if="collapseHardware==true" class="fa fa-chevron-up"></i>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6" ng-repeat="device in devices"></div>
    </div>
</div>

