<div class="ss_hardware-panel">
    <div class="row hardware-header"> HARDWARE SUGGESTIONS </div>
    <div class="row hardware-body">
        <div class="col-sm-6">

            <div class="hardware-img" ng-click="addRemoveHardware(item)"
                 ng-class="{selected: itemSelected(item) }">
                <img class="img-responsive" src="https://s3.amazonaws.com/streamsavvy/fire-stick.svg"/>
            </div>
            <div class="hardware-name">
                Fire Stick
                &nbsp;
                        <span class="glyphicon glyphicon-info-sign" uib-tooltip="{{ item.description }}"
                              tooltip-placement="right"
                              tooltip-class="vw-tooltip"></span>
            </div>

            <div class="hardware-cost">
                $35.99
            </div>
        </div><div class="col-sm-6">

            <div class="hardware-img" ng-click="addRemoveHardware(item)"
                 ng-class="{selected: itemSelected(item) }">
                <img class="img-responsive" src="https://s3.amazonaws.com/streamsavvy/fire-stick.svg"/>
            </div>
            <div class="hardware-name">
                Fire Stick
                &nbsp;
                        <span class="glyphicon glyphicon-info-sign" uib-tooltip="{{ item.description }}"
                              tooltip-placement="right"
                              tooltip-class="vw-tooltip"></span>
            </div>

            <div class="hardware-cost">
                $35.99
            </div>
        </div><div class="col-sm-6">

            <div class="hardware-img" ng-click="addRemoveHardware(item)"
                 ng-class="{selected: itemSelected(item) }">
                <img class="img-responsive" src="https://s3.amazonaws.com/streamsavvy/fire-stick.svg"/>
            </div>
            <div class="hardware-name">
                Fire Stick
                &nbsp;
                        <span class="glyphicon glyphicon-info-sign" uib-tooltip="{{ item.description }}"
                              tooltip-placement="right"
                              tooltip-class="vw-tooltip"></span>
            </div>

            <div class="hardware-cost">
                $35.99
            </div>
        </div><div class="col-sm-6">

            <div class="hardware-img" ng-click="addRemoveHardware(item)"
                 ng-class="{selected: itemSelected(item) }">
                <img class="img-responsive" src="https://s3.amazonaws.com/streamsavvy/fire-stick.svg"/>
            </div>
            <div class="hardware-name">
                Fire Stick
                &nbsp;
                        <span class="glyphicon glyphicon-info-sign" uib-tooltip="{{ item.description }}"
                              tooltip-placement="right"
                              tooltip-class="vw-tooltip"></span>
            </div>

            <div class="hardware-cost">
                $35.99
            </div>
        </div><div class="col-sm-6">

            <div class="hardware-img" ng-click="addRemoveHardware(item)"
                 ng-class="{selected: itemSelected(item) }">
                <img class="img-responsive" src="https://s3.amazonaws.com/streamsavvy/fire-stick.svg"/>
            </div>
            <div class="hardware-name">
                Fire Stick
                &nbsp;
                        <span class="glyphicon glyphicon-info-sign" uib-tooltip="{{ item.description }}"
                              tooltip-placement="right"
                              tooltip-class="vw-tooltip"></span>
            </div>

            <div class="hardware-cost">
                $35.99
            </div>
        </div><div class="col-sm-6">

            <div class="hardware-img" ng-click="addRemoveHardware(item)"
                 ng-class="{selected: itemSelected(item) }">
                <img class="img-responsive" src="https://s3.amazonaws.com/streamsavvy/fire-stick.svg"/>
            </div>
            <div class="hardware-name">
                Fire Stick
                &nbsp;
                        <span class="glyphicon glyphicon-info-sign" uib-tooltip="{{ item.description }}"
                              tooltip-placement="right"
                              tooltip-class="vw-tooltip"></span>
            </div>

            <div class="hardware-cost">
                $35.99
            </div>
        </div><div class="col-sm-6">

            <div class="hardware-img" ng-click="addRemoveHardware(item)"
                 ng-class="{selected: itemSelected(item) }">
                <img class="img-responsive" src="https://s3.amazonaws.com/streamsavvy/fire-stick.svg"/>
            </div>
            <div class="hardware-name">
                Fire Stick
                &nbsp;
                        <span class="glyphicon glyphicon-info-sign" uib-tooltip="{{ item.description }}"
                              tooltip-placement="right"
                              tooltip-class="vw-tooltip"></span>
            </div>

            <div class="hardware-cost">
                $35.99
            </div>
        </div><div class="col-sm-6">

            <div class="hardware-img" ng-click="addRemoveHardware(item)"
                 ng-class="{selected: itemSelected(item) }">
                <img class="img-responsive" src="https://s3.amazonaws.com/streamsavvy/fire-stick.svg"/>
            </div>
            <div class="hardware-name">
                Fire Stick
                &nbsp;
                        <span class="glyphicon glyphicon-info-sign" uib-tooltip="{{ item.description }}"
                              tooltip-placement="right"
                              tooltip-class="vw-tooltip"></span>
            </div>

            <div class="hardware-cost">
                $35.99
            </div>
        </div>
        <div class="col-sm-6">

            <div class="hardware-img" ng-click="addRemoveHardware(item)"
                 ng-class="{selected: itemSelected(item) }">
                <img class="img-responsive" src="https://s3.amazonaws.com/streamsavvy/roku-4.svg"/>
            </div>
            <div class="hardware-name">
                Roku
                &nbsp;
                        <span class="glyphicon glyphicon-info-sign" uib-tooltip="{{ item.description }}"
                              tooltip-placement="right"
                              tooltip-class="vw-tooltip"></span>
            </div>

            <div class="hardware-cost">
                $42.99
            </div>
        </div>
    </div>
</div>

