<div class="ss-hardware-panel">
    <div class="service-center" ng-class="{'ready-for-checkout': pkgHasContent}">
        <div ng-if="!pkgHasContent">
        </div>
        <div ng-if="pkgHasContent">
            <button class="btn btn-red not-ready " onclick="location.href='#/checkout';">
                <!-- <span ng-if="!pkgHasContent">Add shows or services</span> -->
                <span>Subscribe and watch </span>
            </button>
        </div>
    </div>

    <!--

    <div class="hardware-header row">
        <div class="col-xs-10">HARDWARE SUGGESTIONS</div>
        <div class="col-xs-2" ng-click="toggleHardwarePanel()">
            <i ng-if="collapseHardware==false" class="fa fa-chevron-down"></i>
            <i ng-if="collapseHardware==true" class="fa fa-chevron-up"></i>
        </div>
    </div>


    <div class="row hardware-body">


        <div class="col-xs-6" ng-repeat="device in devices">

            <div class="hardware-img" ng-click="addRemoveHardware(item)"
                 ng-class="{selected: itemSelected(item) }">
                <img class="" ng-src="{{ device.image }}"/>
            </div>
            <div class="hardware-name">
                {{ device.name }}
                &nbsp;
                        <span class="glyphicon glyphicon-info-sign" uib-tooltip="{{ item.description }}"
                              tooltip-placement="right"
                              tooltip-class="vw-tooltip"></span>
            </div>

            <div class="hardware-cost">
               {{ device.price }}
            </div>
        </div>
        <div class="col-sm-6">
            <div class="hardware-other">
                <a href="#"> Other device <br> options </a>
                &nbsp;
            </div>
        </div>
    </div>
    -->
</div>

