<section class="grid-section">
    <div class="container-fluid">
        <div class="row blog-one">
            <div class="col-lg-12">
            <h1>Stop Sucking at cutting the cord</h1>
            <br>
            <p>Life without cable. Liberating? Or frustrating?<br><br>
            I found myself in the frustrated (and thus angry) boat as I lost some of the things you take for granted before cutting the cord - like live TV, sports, and surfing for shows when you're bored. In a pretty short period of time though, I'd gotten used to the idea that I had to sacrifice since I wasn't paying for cable (and I'd rather make those sacrifices than go back to cable). Right?
            <br><br>
            Even though I love great TV, sports, and sometimes just surfing for entertainment, I'd find myself just sitting on the couch on Twitter and Insta. Which is sorta' cool. But not really. I was a Stage 5 settler. And it wasn't good - something had to be done.
            <br><br>
            So I did it. I got off my butt and starting figuring stuff out. And amazingly, I stopped settling and am close to creating cable-like experience without putting my monthly budget well into the red.
            <br><br>
            Here's what I did...</p>

            <h3>I got a digital antenna</h3>

            <p>The digital antenna gives me live TV for the four major networks in HD. So all major events, primetime shows, and a few other local channel options are all at my fingertips. <b>FOR FREE.</b>
            <br><br>
            This was so easy and so awesome, I'm not sure why I didn't just do this a long time ago. To drop a little knowledge your way, since June 13, 2009, full power, major network TV stations (i.e. "the big four: ABC, NBC, CBS, Fox") have been required to broadcast exclusively in a digital format. Thanks Congress!
            <br><br>
            To get the antenna, I did a fair amount of research and ended up going with the Mohu Leaf 30 indoor HDTV antenna for $39.99. While this seemed like the best, there are a number of comparable options.
            <br><br>
            For more insight on digital antennas, here's a well research blog post from our friends at Digital Trends.
            </p>

            <h3>I found a way to watch live sports</h3>

            <p>Yes. That's right. I don't have cable / satellite TV, and I miss almost no major live sporting events. And I pay $20 per month for that. Believe it.
            <br><br>
            How do I get there? First, the digital antenna mentioned in the above point gets me most college football games, NFL games, and other nationally or regionally televised sporting events.
            <br><br>
            The second ingredient to the mix is Sling TV. The skinnied down package provides live ESPN, ESPN2, TNT, and TBS. This fills the gap for any football or nationally televised games I can't get through the antenna. Plus I get Sunday night baseball (a weekly tradition), and the TNT/TBS combo provides additional NBA coverage.
            <br><br>
            MLB.tv, NBA League Pass, and NHL Game Center Live also offer great streaming options for anyone really into either one of these pro sports. A WORD OF CAUTION on these...some local teams may be blacked out. So hit them up first to make sure you can watch all your local team's games.
            <br><br>
            The biggest gaps that still remain are on the football front - specifically the Big10 Network and the NFL. The Big10 Network doesn't have any streaming solution for football (thanks, guys). The NFL does have the NFL Game Pass, but don't be suckered into thinking this is live football. The games are only on demand and air after they are played. The upside is that there are zero commercials during the on demand Game Pass games.
            </p>

            <h3>I went beyond Netflix</h3>
            <p>
            Before taking the plunge, I always thought streaming meant Netflix. And it does, because Netflix has crazy good original shows. But it also means so much more when you do streaming right.
            <br><br>
            The digital antenna mentioned above was a key piece. Slack TV also mentioned above was also big. However, I haven't stopped there and have watched some great content on Amazon Instant and got into Transparent. I got Hulu and was able to watch major networks on demand if I didn't want to watch the shows live. I've also been holding out on Game of Thrones, but with such an easy streaming solution through HBO Now, I'm finally giving in. It feels great!
            </p>
            </div>
        </div>
    </div>
</section>