.still-confused {

  .make-sure {
    background: white;
    color: black;
    text-align: center;
    line-height: 3;
    height: 420px;
    padding-bottom: 10%;
  }
  .you-ready{
    padding-bottom: 10%;
    background: white;
    height: 420px;

  }
  .show-and-tell {
    padding-top: 9%;
    padding-bottom: 9%;
    padding-left: 12%;
    padding-right: 12%;

    img.img-responsive{
      padding-right: 18%;
      margin-top: 10%;
    }
    h3{
      font-size: 2.8em;
      letter-spacing: 2px;
    }
    p{
      letter-spacing: 1px;
    }
  }

  .search{
    background-color: #13171A;
  }
  .select{
    background-color: white;
  }
  .watch{
    background-color: #13171A;
  }
  .you-ready{
    text-align: center;
    padding:0 ;
  }
  .action-blue{
    color:#45a7e5;
  }
}
.thick-header{
    font-size: 3em;
    font-weight: 900;
    padding-top: 12%;
    margin-top: 0;
    margin-bottom: 3%;
    letter-spacing: 3px;
  }
.action-blue{
    color:#45a7e5;
  }
.gray-center-para{
  margin-bottom: 7%;
  font-size: 16px;
  color: #13171A;
}