.still-confused {

  .make-sure {
    background-color: white;
    color: black;
    text-align: center;
    line-height: 3;
    height: 300px;
    margin-bottom: 10%;
  }
  .you-ready{
    margin-bottom: 10%;
  }
  .show-and-tell {
    padding-top: 15%;
    padding-bottom: 15%;
    padding-left: 12%;
    padding-right: 12%;

    img.img-responsive{
      padding-right: 18%;
    }
    h3{
      font-size: 2.8em;
      letter-spacing: 2px;
    }
    p{
      letter-spacing: 1px;
    }
  }

  .search{
    background-color: #13171A;
  }
  .select{
    background-color: white;
  }
  .watch{
    background-color: #13171A;
  }
  .you-ready{
    text-align: center;
  }
  .thick-header{
    font-size: 3em;
    font-weight: 900;
    margin-top: 12%;
    margin-bottom: 3%;
    letter-spacing: 3px;
  }
  .gray-center-para{
    margin-bottom: 7%;
    font-size: 16px;
    color: #13171A;
  }
  .action-blue{
    color:#45a7e5;
  }
}
