.btn {
  display: inline-block;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 16px;
      min-width: 250px;
    max-width: 2300px;
}
  
.btn-lg {
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}

.btn-primary, .btn-green {
  color: #fff;
  border-color: #357ebd;
}

/*.btn-primary:hover,*/
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #3276b1;
  border-color: #285e8e;
}

/***********************
  ROUND BUTTONS
************************/
.round {
  border-radius: 24px;
}

/***********************
  SQUARE BUTTONS
************************/
.square {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px; 

}

/***********************
  CUSTON BTN VALUES
************************/

.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-primary {
    background: #0099cc;
    color: #ffffff;
}
/*
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #33a6cc;
}*/
.btn-primary:active, .btn-primary.active {
    background: #007299;
    box-shadow: none;
}

.btn-green {
    background: #3BBC69;
}

.show-me-btn {
    background: #3FA1FF;

}
.btn-red{
  background-color: #ED1C24;
}

.find-show-btn, .show-me-btn, .search-next-show{
    margin: 0 auto;
    text-align: center;
    display: block;
}

.find-out{

}

.btn-green:hover,
.btn-green:focus,
.btn-green:active,
.btn-green.active,
.open .dropdown-toggle.btn-green {
  color: #fff;
  background-color: #1a532f;
  border-color: #285e8e;
}


.let-us-explain {
    vertical-align: middle;
    clear: none;
    margin-bottom: 1%;
}
/*button .usr-path-left, .usr-path-right {
  text-align: center;
  padding-top: 5%;
  padding-bottom: 8%;

    
}*/

.show {
  position: relative;
  display: inline !important;
  border-color: gray;
  border-style: solid;
  border-width: .5px;
  min-width: 10px;
  max-width: 500px;
  white-space: normal;/*weird little workaround that does word wrapping past max width*/
//  font-size: 200%;
  font-weight: 700;
  line-height: 1.5;
  background-color: white;
  -webkit-box-shadow: 0 0 5px 2px gray;
    -moz-box-shadow: 0 0 5px 2px gray;
    box-shadow: 0 0 5px 2px gray;
}
.glyphicon-background {
    position: absolute;
    border-radius: 100%;
    color: #FF5750;
    z-index: 2;
    top: -12px;
    right: -14.5px;
    display: none;
}

.blue-glyphicon {
  display: inline;
  color: #3b94e3;
}
span.glyphicon.glyphicon-ok-sign.glyphicon-background.blue-glyphicon.selected {
    border: white;
    top: -35%;
    right: -900%;
    font-size: 1.5em;
}
.inner {
    position:absolute;
    top:2px;
    left:2px;
    right:2px;
    bottom:2px;
    border-radius:100%;
    background-color:white;
    z-index:-1;
}

.add-more-shows{

}

.show:hover .glyphicon-background {
  display: block;
}

@media(max-width: 540px){

  .show {
    margin-right:5px;
    margin-bottom: 10px;
  }
}

@media(max-width: 768px){

    .let-us-explain{
        right: 0%;
        float: none;
    }
}

@media(min-width:768px) and (max-width: 991px) {


    .let-us-explain {

        right: 7%;
    }
    }
