.intro-header {
    padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    text-align: center;
    color: #f8f8f8;
    background: white;
    background-size: cover;

}

.intro-message {
  position: relative;
  padding-top: 7%;
  padding-bottom: 12%;
  color: black;
  line-height: 3.529rem;
}

.intro-header, .intro-message {
  top: -25px;
}

.intro-question {
  font-weight: bold;
  font-size: 3em;

}

.container {
  width: 100%;
}


h1, h2, h3, h5, p,div {
  font-family: 'Open Sans', sans-serif;
}

.journey-one-status {
  /*width: 90%;*/
  margin: 0 auto;
}
.journey-one{
  margin: 0 auto;
  /*width: 75%;*/
}

.main-page {
  margin: 0 auto;
  /*width: 70%;*/
}

hr {
    max-width: 50px;
    border-width: 3px;
}

.black-hr {
  border-color: black;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}


.usr-path-left, .usr-path-right {
  width: 50%;
  display:inline;
  padding-bottom: 7%;
}

.usr-path-right{
  background-color:#D3D4D5 ;
  float: right;

}

.usr-path-left{
  background-color:#E5E5E6;
  float: left;
}


.usr-path-header{
  padding-top: 7%;
  height: 150px;
  vertical-align: middle;
  position: relative;
  text-align:center;
  /*font-size: 2em*/

}

.usr-path-header h1{
  font-size: 2.5em;
  font-weight: bold;
}

.usr-path-header h3{
  font-size: 1.15em;
}



.img-thumbnail {
	background-color: transparent;
	height: 45px;
}
.navbar{
  background-color: transparent;
  border: none;
}
.navbar-header {
  padding-top: 2%;
  padding-left: 2%;
  float: none;
}
.navbar-toggle {
  display: block;

}
.navbar-collapse {
  border-top: 1px solid transparent;
  box-shadow: inset 0 1px 0 rgba(0,0,0,0.1);
}
.navbar-collapse.collapse {
  display: none!important;
}
.navbar-nav {
  float: none!important;
  margin: 7.5px -15px;
}
.navbar-nav>li {
  float: none;
}
.navbar-nav>li>a {
  padding-top: 10px;
  padding-bottom: 10px;
}


.burger {
  max-width: 30px;
  max-height: 30px;
  display: block;
  float: right;
  padding-top: 5px;
}

.logo {
  height: auto;
    width: auto;
    max-width: 250px;
    max-height: 50px;
}

.why-money {
  text-align:center;
  padding: 5%;

}

.why-money-title {
  font-size: 2.5em;
  font-weight: bold;
}

.stacks {
  width: 80%;
    margin-left: auto;
  margin-right: auto;
  padding-top: 2%;
}



.money-reasons-left, .money-reasons-right {
  text-align:center;
  width: 50%;
  display:inline;
  font-weight: bold;
  font-size: 1.2em;
}

.money-reasons-left {
  float: left;
  padding-left: 10%;
}

.money-reasons-right {
  float: right;
  padding-right: 10%;
}

.about-money{
  text-align:center;
  width: 100%;
  padding-top: 5%;
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 5%;
}

.confused-banner {
    color: #fff;
    background-color: #55595C;
}

.confused-h1 {


}


.banner {
    padding: 2%;
    color: #fff;
    background-color: #55595C;
    background-size: 50px 40px;
}

.banner h1 {
    display: inline-block;
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 2.5em;
    font-weight: bold;
    float: left;
    left: 25%;
   position: relative;

}

.review-site-img {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}


.talk-about {
  text-align:center;
  padding: 5%;
  background-color:#E5E5E6;
}

.talk-about-title {
  font-size: 2.5em;
  font-weight: bold;
}

.review-site-img {

  padding-top: 5%;
  padding-bottom: 5%;
}


footer {
    padding: 25px 0;
    background-color:white;
    position: relative;
    max-width: 35%;
    margin-left: auto;
    margin-right: auto;
}
.foot {
    padding-left: 15%;
    padding-right: 15%;
}
@media(max-width: 480px) {
  .intro-message {
    padding-top: 3%;
    padding-bottom: 5%;

  }
}

@media(max-width: 768px){

    .usr-path-left, .usr-path-right {
   width: 100%;
 }

  .banner {
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
  }
   .banner h1 {

    display: none;
   }

   .foot {
    width: 80%;
    max-width: 100%;
   }

   img {
    height: 25%;
   }

  }

@media(min-width:768px) and (max-width: 991px) {

    .usr-path-left, .usr-path-right {
   width: 50%;
  }
    .banner {
    padding: 25px;
  }
  .banner h1 {

    left: 5%;
  }

}

@media(min-width: 1024px) {
  .journey-one{
    width: 65%;
  }
}

