//colors

$color_picton_blue_approx: #3fa1ff;
$color_vulcan_approx: #13171a;
$color_carnation_approx: #ff5750;
$white: white;
$action_red: #ed1c24;
//urls
$homepage-background-s3: url(https://s3.amazonaws.com/streamsavvy/ss_background.jpg );

//@extend-elements
//original selectors
//html, body
html {
	@extend %center_and_extend_height;
}
body {
	@extend %center_and_extend_height;
}
#background {
	background: $homepage-background-s3 no-repeat 50% 50% fixed;
	background-size: cover;
}
.savvy-blue {
	color: $color_picton_blue_approx;
}
.col-centered {
	float: none !important;
	margin: 0 auto;
	text-align: center;
}
%center_and_extend_height {
	margin: 0 auto;
	padding: 0;
	height: 100%;
}

.sidebar-trigger{

  margin-top: 15px;
  a{
    color: $action_red;
    i.fa.fa-bars{
      font-size: 1.5em;
      margin-right: 5px;
    }
  }


}
.page-container {
	position: relative;
}
.sidebar {
	position: relative;
	background-color: $color_vulcan_approx;
	transition: all 0.5s ease;
	.sidebar-content a {
		color: $color_carnation_approx;
	}
}
.content-wrapper {
	position: relative;
	.logo-row {
		padding-top: 3%;
		padding-bottom: 5%;
		a {
			.logo {
				height: auto;
				width: auto;
				max-width: 250px;
				max-height: 34px;
				display: inline-block;
			}
			.logo-and-text {
				max-height: 18px;
			}
		}
	}
	.easy-row {
		margin-top: 5%;
		margin-bottom: 3%;
	}
	.learn-more-row {
		margin-top: 7%;
	}
	.h1-row .h1-col {
		text-align: center;
		h1 {
			font-weight: 900;
			font-size: 42px;
			color: $white;
			line-height: 56px;
		}
	}
	.lets-do-this-row .btn-red {
		background-color: $action_red;
	}
}

@media(min-width: 769px) {
	.page-container {
		display: table;
		width: 100%;
		table-layout: fixed;
	}
	.page-wrapper {
		display: table-row;
	}
	.content-wrapper {
		display: table-cell;
		vertical-align: top;
        width:50%;
        height:100%;
	  	margin:0 auto;
	}
	.sidebar {
		display: table-cell;

		vertical-align: top;
		width: 20% !important;
		&.collapse.in {
			display: none;
			vertical-align: top;
			width: 0px;
		}
	}
	.sidebar-content {
		width: 100%;
	}
}
