.intro-header {
  padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar
   doesn't overlap content! */
  text-align: center;
  color: #f8f8f8;
  background: transparent;
  background-size: cover;
  /*background-image: url('/static/img/dark-splash-background.png');*/

}

.intro-message {
  position: relative;
  padding-top: 7%;
  padding-bottom: 12%;
  color: black;
  line-height: 3.529rem;
}

.intro-header, .intro-message {
  top: -25px;
}

.intro-question {
  font-weight: bold;
  font-size: 3em;
  color: white;
}

.intro-sub-question {
  color: #aeb6bb;
}

.container {
  //width: 100%;
  padding: 0;
}

h1, h2, h3, h5, p, div {
  font-family: 'Open Sans', sans-serif;
}

.journey-one-status {
  /*width: 90%;*/
  margin: 0 auto;
}

.journey-one {
  margin: 0 auto;
  max-width: 1024px;
}



.main-page {
  margin: 0 auto;
  /*width: 70%;*/
}

hr {
  max-width: 50px;
  border-width: 3px;
}

.black-hr {
  border-color: black;
}

.nav-hero {
  background-image: url('/static/img/ss_background.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
  height: 5px !important;
}

.navbar-toggle .icon-bar {
  height: 4px !important;

}

.navbar, .navbar-inverse {
  border-radius: 0;
  border: none;
  margin-bottom: 0;
  border-color: transparent;
  min-height: 80px;
  background: transparent;
}

.nav li {
  display: inline;
  color: red;
}

.navbar-inverse .navbar-nav > li > a {
  color: #ED1C24;
  font-family: inherit;
  font-size: 1.7em;
  font-weight: 500;
  padding: 30px 0 33px 0;
  margin-left: 10px;
  margin-right: 10px;
}

.navbar-inverse .navbar-nav li a:hover, li a:active, li a:visited {
  border-bottom: #ED1C24 solid 3px;
  color: #ED1C24;
  height: 100%;
  padding-bottom: 30px;
}

.navbar-inverse .navbar-toggle {
  border-color: transparent;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
  background-color: transparent;
}

.usr-path-left, .usr-path-right {
  width: 50%;
  display: inline;
  padding-bottom: 7%;
}

.usr-path-right {
  background-color: #F4F6F6;
  float: right;

}

.usr-path-left {
  background-color: #13171A;
  float: left;
}

.usr-path-header {
  padding-top: 7%;
  padding-bottom: 3%;
  height: 170px !important;
  vertical-align: middle;
  position: relative;
  text-align: center;
  /*font-size: 2em*/

}
.usr-path-left > .usr-path-header{
  color: white;
}
.usr-path-header h1 {
  font-size: 2.5em;
  font-weight: bold;
}

.usr-path-header h3 {
  font-size: 1.15em;
  color: #aeb6bb;
}
.img-thumbnail {
  background-color: transparent;
  height: 45px;
}
.usr-paths{
  .img-responsive{
    min-height:283px;
  }
}

.burger {
  max-width: 30px;
  max-height: 30px;
  display: block;
  float: right;
  padding-top: 5px;
}

.logo {
  height: auto;
  width: auto;
  max-width: 250px;
  max-height: 34px;
  margin-top: 18px;
  margin-left: 15px;
}

.logo-and-text {
  display: none !important;
  max-height: 18px;
}

.just-logo {
  display: inline-block;
}

.why-money, .build-bundle, .build-service-list {
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
}

.why-money-title, .build-bundle-title, .build-service-list-title, .build-show-list-title {
  font-size: 2.5em;
  font-weight: bold;
}

.why-money h5{
  color: #aeb6bb;
}

.confused{
  background-color: #13171A;
  .still-explain{
    text-align: center;
    margin-top: 3%;
    margin-bottom: 3%;
    h1{
      color: white;
      font-size: 2.0em;
      font-weight: bold;
      display: inline-block;
      margin-right: 4%;
    }


  }


}

.build-show-list-title {
  padding-left: 19.5%;
  padding-top: 7%;
}

.build-show-list-description {
  padding-left: 4%;
}

.build-show-list-hr {
  margin-right: 72%;
}

.stacks, .build-service-list-pic {
  margin-left: auto;
  margin-right: auto;
  padding-top: 2%;
}

.build-service-list-pic {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2%;
}

.build-bundle-pic {
  width: 52%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2%;
}

.money-reasons-left, .money-reasons-right {
  text-align: center;
  width: 50%;
  display: inline;
  font-weight: bold;
  font-size: 1.6em;
}

.money-reasons-left {
  float: left;
  padding-left: 22%;
}

.money-reasons-right {
  float: right;
  padding-right: 22%;
}

.about-money {
  text-align: center;
  width: 100%;
  padding-top: 5%;
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 5%;
  color: #aeb6bb;
}

.confused-banner {
  color: #fff;
  background-color: #55595C;
}

h4{
  line-height: normal;
}

.banner {
  padding: 2%;
  color: #fff;
  background-color: #55595C;
  background-size: 50px 40px;
}

.banner h1 {
  display: inline-block;
  margin: 0;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
  font-size: 2.5em;
  font-weight: bold;
  float: left;
  left: 25%;
  position: relative;

}

.review-site-img {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.talk-about {
  text-align: center;
  padding: 5%;
  background-color: #E5E5E6;
}

.talk-about-title {
  font-size: 2.5em;
  font-weight: bold;
}

.review-site-img {

  padding-top: 5%;
  padding-bottom: 5%;
}

.related-articles {
  background-color: #F4F6F5;
}

.articles {
  text-align: center;
  padding: 2%;

}

.articles-title {
  font-size: 2.0em; /*20px for mobile*/
  font-weight: bold;
}
.articles h5{
  color: #aeb6bb;
}

.poster {
  position: relative;
  display: inline-block !important;
  border-color: #d7d9d9;
  border-style: solid;
  border-width: 1px;
  background-color: white;
  box-shadow: 0 0 1px 1px #d7d9d9;
  white-space: normal !important; /*weird little workaround that does word wrapping past max width*/

  height: 400px;
  width: 300px;
  font-weight: 900;
  padding-left: 15px;
  padding-right: 15px;
  margin: 1.75%;

  /*DO NOT REMOVE:the following two lines help fix alignment issues with the article posters*/
  overflow: hidden;
  text-overflow: ellipsis;
}

.poster-logo {
  padding-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.tart {
  padding-top: 60px;
  margin-left: auto;
  margin-right: auto;
  font-size: 24px;
  font-weight: 800;
  color: black;
}

.link-spanner {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.article-link {
  position: absolute;
  bottom: 0;
  left: 32%;
  padding-bottom: 50px;
}

.green-link {
  color: #42aa67;
}

footer {
  padding: 25px 0;
  background-color: #ED1B24;
  max-height: 250px;
  .foot-pic{
    display: inline-block;
    max-height: 35px;
  }
  .foot-logo{
    padding-left: 5%;
  }
  .foot-name{
    max-height: 15px;
    margin-left: 10px;
  }
  .foot-icons {
    float: right;
    margin-right: 5%;
    padding-right: 2px;
}

  .icon-2x {
      color: white;
      font-size: 24px;
  }
  .icon-facebook-official {
    padding-right: 22px;
  }
}


@media(max-width: 480px) {
  .intro-message {
    padding-top: 3%;
    padding-bottom: 5%;

  }
}

.container-fluid {
  clear: both;
}

@media(max-width: 768px) {

  .usr-path-left, .usr-path-right {
    width: 100%;
  }

  .banner {
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
  }
  .banner h1 {

    display: none;
  }

  .foot {
    width: 80%;
    max-width: 100%;
  }

  img {
    height: 25%;
  }

}

@media(min-width: 768px) and (max-width: 991px) {

  .usr-path-left, .usr-path-right {
    width: 50%;
  }
  .banner {
    padding: 25px;
  }
  .banner h1 {

    left: 5%;
  }

}

//@media(min-width: 1024px) {
//  .journey-one {
//    width: 65%;
//  }
//}

.build-bundle, .build-show-list, .step-one-explanation {
  background-color: #E3E3E5;
}

.left-column {
  padding-left: 10%;
}

@media (max-width: 767px) {
  .just-logo {
    padding-left: 3%;
    margin-top: 18px; /*magic number gotten from bootstrap*/
  }
  .navbar-toggle {
    margin-top: 18px;
  }
}

@media (min-width: 768px) and (max-width: 1215px) {

  .just-logo {
    margin-top: 33%;
  }
}

@media(min-width: 1216px) {
  .just-logo {
    margin-top: 5%;
  }
  .logo-and-text {
    display: inline !important;
  }

}

@media (min-width: 768px) and (max-width: 841px) {
  .collapse {
    display: block !important;
  }
}

@media (min-width: 1200px){
  .container{
    width:1364px;
  }
}

