<title>Step 2</title>
<meta name="Step 2 - Select Hardware" content="">
<section class="device-grid">
    <div class="container-fluid step-three">

        {{ package.hardware }}
        <div class="row">
            <div class="col-sm-2" ng-repeat="item in hardware| limitTo:6  track by $index" ng-show="!$first">
                <div class="hardware-img" ng-click="toggleHardwareSelection(item)" ng-class="{selected: _.includes(package.hardware, item)}">
                      <img  ng-src="{{ item.image_url }}"/>
                </div>
                <div>
                    {{ item.name }}
                </div>
            </div>
        </div>

    </div>

</section>

<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 btn-row">
                <div class="col-sm-6 step-btn">
                    <a class="go_back pull-right" onClick="location.href='#/getting-started/step/1'">
                        I Don't Need Hardware
                    </a>
                </div>
                <div class="col-sm-6 step-btn">
                    <button type="button" class="btn btn-primary btn-lg find-out go_fwd"
                            onclick="location.href='#/getting-started/step/3';"
                            ng-class="{disabled: package.hardware.length < 1}"
                            ng-disabled='package.hardware.length < 1 '>
                        Review My Show Selections
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
