<div class="ss_checkout container-fluid gradient-checkout-background">
    <div class="col-sm-12">
        <div ui-view="navigation" id="ss-navigation-view" class="navbar-fixed-top ss_nav"></div>
        <div class="finalize row">FINALIZE YOUR SERVICES</div>
        <div ui-view="checkoutList" class="checkoutList"></div>
        <div class="when-hitting row">When hitting Purchase you will be sent to the corresponding service page to purchase that service.</div>
    </div>
</div>
<div ui-view="footer" class="row footer"></div>