<div class="ss_checkout container-fluid gradient-checkout-background">
    <div class="col-sm-12">
        <div ui-view="navigation" id="ss-navigation-view" class="navbar-fixed-top ss_nav"></div>
        <br />
        <br />
        <div ui-view="checkoutList" class="checkoutList"></div>
        <div class="service-disclaimer">*Estimated base monthly price. Specific streaming apps or services may have different tiers and / or increase the price based on the number of connected devices</div>
        <div id="checkout-back-btn-area">
        </div>
    </div>
</div>
