<div class="dashboard">
<div ui-view="navigation" class="navbar-fixed-top"></div>


    <!--

     <div ui-view="progress" class="journey-one-status"></div> -->
 <div id="dashPage" class="container cbp-spmenu-push">
  <div class=" col-sm-9 search-and-shows">
    <div ui-view="search" class="row"></div>
    <div class="row pop-search">popular show searches</div>
    <div ui-view="shows" class="row show-grid"></div>
  </div>

  <div class="col-sm-3 services-hardware">
    <div ui-view="services" class="row service-panel"></div>
    <div ui-view="hardware" class= "row hardware-panel"></div>
  </div>


    <div ui-view="footer"></div>
    <div ui-view="modal" class="journey-one"></div>
 </div>

</div>