<div class="dashboard">


    <!--

     <div ui-view="progress" class="journey-one-status"></div> -->
    <div id="dashPage" class="container cbp-spmenu-push">
        <div id="search-and-shows" class=" col-sm-9 search-and-shows">
            <div ui-view="navigation" id="ss-navigation-view" class="navbar-fixed-top ss_nav"></div>
            <div ui-view="search" ng-if="showSearchView" class="row ss_search"></div>
            <div ui-view="shows" class="row show-grid"></div>
            <show-detail class="fade" ng-show="showDetailDirective"></show-detail>
            <div ui-view="footer" class="row footer"></div>
        </div>

        <div id="ss-panel-right" class="col-sm-3 services-hardware">
            <div ui-view="services" class="row service-panel"></div>
            <div ui-view="hardware" class="row hardware-panel"></div>
        </div>



        <div ui-view="modal" class="journey-one"></div>
    </div>

</div>