<title>Homepage</title>
<meta name="Homepage" content="">
<div class="row h1-row">
    <div class="col-xs-12 col-lg-12 col-centered h1-col">
        <div><img class="header-logo" src="https://s3.amazonaws.com/streamsavvy/streamsavvy-logo.svg"></div>
        <h1 class="white">
            <div class="col-xs-12">
                No cable? No problem.
            </div>
            <div class="col-xs-12">
                Find your favorite shows and where to watch them.
            </div>
        </h1>
    </div>
</div>
<br/>
<br/>
<div class="row lets-do-this-row">
    <br/>
    <div class="col-xs-12 col-centered">
        <a class="button btn btn-primary btn-lg btn-red" onclick="location.href='#/dashboard';">Let's Do This</a>
    </div>
</div>
<div class="row easy-row" onclick="location.hash ='dashboard'">
    <div class="col-xs-12 col-lg-12 col-centered home-imgs">
        <!--<h5 class="savvy-blue easy-1-2-3">It's as easy as 1, 2, 3.</h5>-->
        <img class="easy-123" src="https://s3.amazonaws.com/streamsavvy/homepage-icons-words.png" alt="">
    </div>
</div>

<!--
<div class="row learn-more-row">
    <div class="col-xs-12 col-centered">
        <p class="header-article-pointer">Learn More</p>
        <span class="glyphicon glyphicon-chevron-down"></span>
    </div>
</div>
-->


<footer></footer>   

<!-- Hotjar Tracking Code for http://www.streamsavvy.tv/#/ -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:251709,hjsv:5};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
</script>


