<title>Homepage</title>
<meta name="Homepage" content="">

    <a href="javascript:;" data-toggle="collapse" class=""  data-target=".sidebar">Menu</a>
    <div class = "row logo-row">
        <div class="col-xs-12 col-lg-4 col-centered">
          <a href="/#/"><img class="img-responsive  logo just-logo" src="https://s3.amazonaws.com/streamsavvy/SS_Mark_red.png"/></a>
          <a href="/#/"><img class="img-responsive logo logo-and-text"
                                         src="https://s3.amazonaws.com/streamsavvy/SS_Wordmark_White.png"/></a>
        </div>
    </div>
    <div class="row h1-row">
      <div class="col-xs-12 col-lg-10 col-centered h1-col">
        <h1 class="white">Ready to cut the cord? Let us show you how to<br> do it and where to watch your favorite content.</h1>
      </div>
    </div>
    <div class="row easy-row">
      <div class="col-xs-12 col-lg-4 col-centered">
        <!--<h5 class="savvy-blue easy-1-2-3">It's as easy as 1, 2, 3.</h5>-->
        <img class="" src="https://s3.amazonaws.com/streamsavvy/Home_Graphic.svg" alt="">
      </div>
    </div>
    <div class="row lets-do-this-row">
      <div class="col-xs-12 col-centered">
        <button class="btn btn-primary btn-lg btn-red">Let's do this</button>
      </div>
    </div>
    <div class="row learn-more-row">
      <div class="col-xs-12 col-centered">
        <p class="header-article-pointer">Learn More</p>
        <span class="glyphicon glyphicon-chevron-down"></span>
      </div>
    </div>
