<div class="row show-service-hardware-tabs">
    <div class="col-xs-4" ng-click="scrollTo('search-and-shows')">
        <div class="row">
            <i class="fa fa-list" aria-hidden="true"></i>
        </div>
        <div class="row">
            Shows
        </div>
    </div>
    <div class="col-xs-4" ng-click="scrollTo('services')">
        <div class="row">
            <i class="fa fa-television" aria-hidden="true"></i>
        </div>
        <div class="row">
            Services
        </div>
    </div>
    <div class="col-xs-4" ng-click="scrollTo('hardware')">
        <div class="row">
            <i class="fa fa-television" aria-hidden="true"></i>
        </div>
        <div class="row">
            Hardware
        </div>
    </div>
</div>