<div class="modal-header">
    <div><i class="material-icons">close</i></div>

</div>

<div class="modal-body">
    <div class="modal-title">Find and save your favorite shows <br>without cable.</div>
    <div class="please-social">Welcome to StreamSavvy, take control of your TV.</div>

</div>

<div class="modal-footer">
    <div class="modal-buttons">
        <a class="btn btn-block btn-social btn-sm btn-twitter" ng-href="{{ auth.twitter }}">
            <span class="fa fa-twitter"></span> Sign in with Twitter
        </a>


        <a class="btn btn-block btn-social btn-facebook" ng-href="{{ auth.facebook }}">
            <span class="fa fa-facebook"></span> Sign in with Facebook
        </a>
    </div>
</div>


