<div class="modal-body">

    <div class="modal-header">
        <h4 class="modal-title">Find and save your favorite shows <br>without cable.</h4>
        <h6 class="please-social">Welcome to StreamSavvy, take control of your TV.</h6>
        <div class="row">
            <div class="modal-body">
                <div>

                    <a ng-href="{{ auth.twitter}}">Login With Twitter</a>
                </div>
                <div>
                    <a ng-href="{{ auth.facebook }}">Login With Facebook</a>
                </div>
            </div>
        </div>
    </div>
</div>



