<div class="col-xs-12">

<div class="loader" ng-show="loading">
    <img class="opacity0" src="/static/img/SS_Mark_red.png" imageonload/>
</div>
<div class="container-fluid">

    <div class="row show-input">
        <!-- <input type="text" placeholder="Start typing" id="searchInput"
               class="form-control stacked-input-1" ng-model="searchText" ng-change="search()"/> -->

        <input type="text" id="searchInput"
               class="form-control ss-search-input" ng-class="{'has-suggestions' : suggestions.length}"
               ng-model="searchText" ng-model-options="modelOptions"
               uib-typeahead="suggestion.title for suggestion in search($viewValue)"
               typeahead-loading="loading" typeahead-no-results="noResults" typeahead-is-open="typeaheadOpen"
               typeahead-on-select="addToSelectedShows($item, $model, $label, $event)"
               ng-keydown="checkKeyDown($event)"
        />
        <span class="floating-label" ng-class="{float: searchText}">Search for your shows</span>
        <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
        <div ng-show="noResults">
            <i class="glyphicon glyphicon-remove"></i> No Results Found
        </div>

        <div class="row suggestions">


        </div>
    </div>
</div>
</div>
