category-detail {
  @extend show-detail;

  opacity: 0;
}

.category-description {
  margin-bottom: 10px;
  font-size: .8em;

  img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
  }

  ::before {
    bottom-padding: 3px;
    position: absolute;
    display: block;
    height: 50%;
    //content: "";
    border-top: solid $warm-grey 2px;
    border-left: solid $warm-grey 2px;
    width: 20px;
    border-top-left-radius: 5px;
    top: 0;
    //height: 60px;
    //margin-bottom: 10px;
    //border-bottom-left-radius: 5px;
  }

  ::after {
    position: absolute;
    border-bottom: solid $warm-grey 2px;
    border-left: solid $warm-grey 2px;
    //border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 20px;
    //height: 60px;
    bottom: 0;
    display: block;
    height: 50%;
    //content: "";

    div {
      border: none;
    }
  }
}

span.step {
  background: $action_red;
  border-radius: 1em;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  color: #ffffff;
  display: inline-block;
  font-weight: bold;
  line-height: 2em;
  margin-right: 5px;
  text-align: center;
  width: 2em;
}

.available {
  opacity: 1 !important;
}

.fixed {
  position: fixed;
  z-index: 1000;
  top: 50px;
  width: 100%;
  background: $dark-98;

  & + div {
    margin-top: 10px;
  }
}

.synopsis-with-info {
  padding-bottom: 5%;
}

@media (max-width: 767px) {
  .placeholder {
    background: black;
  }

  .black-mobile-bg {
    background: black;
  }

  #sticky {
    padding: 10px;
    height: 41px;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    background: rgba(0, 0, 0, .4);
  }
}

.col-xs-4.window-service.ng-scope {
  height: 30px;
}

#overlay-icons {
}

@media(max-width: 991px) {
  img {
    //height: 100%;
    //width: auto;
  }
}

.table-container .btn {
  background-color: red;
  color: white;
  border-radius: 7px;
  display: inline;
  transform: translateY(10px);
}

.table-container .btn:hover {
  background-color: #660000;
  color: #9d9d9d;
}

.table-container {
  width: 100%;
  display: block;
  margin: 0 auto;
}

.table-container .row {
  //padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
}

.category-header {
  //transform: translateY(17px);
  height: 30px;
}

@media(max-width: 991px) {
  .category-header {
    font-size: 18px;
    //transform: translateY(0px);
    //transform: translateX(9px);
    //border-right: solid 1px white;
  }
}

@media(max-width: 991px) {
  .table-container .col-xs-6 {
    padding: 15px;
  }
}

@media(max-width: 991px) {
  .table-container .col-xs-12 {
    padding: 15px;
  }
}

@media(max-width: 991px) {
  .table-container .button-block {
    padding-bottom: 30px;
    border-bottom: dashed 1px white;
    transform: translateY(0px);
  }
}

.button-block {
  //transform: translateY(10px);
}

@media(max-width: 991px) {
  .table-container .btn {
    display: block;
    margin: 0 auto;
    font-size: 17px;
  }
}

.price-block {
  img {
    height: 30px;
  }
  //transform: translateY(7px);
  text-align: center;
}

.table-container p {
  line-height: 20px;
}

@media(max-width: 991px) {
  .table-container p {
    font-size: 17px;
  }
}

.coming-soon {

  &::hover {
    "Comming Soon"
  }
}
