<div class="col-sm-12 background">

    <div id="sticky" class="row">

        <div class="col-xs-9">
            <span class="sports-header">Here's what you need to know about streaming sports.</span>
        </div>
        <div class="col-xs-3" ng-click="hideDetail($event)">
            <img class="close" src="/static/img/close.png"/>
        </div>

    </div>
    <br />
    <br />
    <br />
    <div class="table-container">


        <module-row ng-repeat="row in cat"></module-row>


       <!-- <div class="row">

            <div class="col-md-2 col-sm-12 category-header">
                <img src="https://s3.amazonaws.com/streamsavvy/two.png" height="35px"> &nbsp;&nbsp;Core Package
            </div>

            <div class="col-md-10 category-description">

                <div class="col-xs-12">
                    <div class="col-md-2 col-xs-6">
                        <img src="https://s3.amazonaws.com/streamsavvy/sling.png" height="45px">
                    </div>
                    <div class="col-md-2 col-xs-6 price-block">
                        <p><img src="https://s3.amazonaws.com/streamsavvy/dollar.png" height="27px" width="27px"> 20.00</p>
                    </div>
                    <div class="col-md-2 col-xs-12">
                        <p>Base level of sports networks</p>
                    </div>
                    <div class="col-md-2 col-xs-12">
                        <p>ESPN, ESPN2, TNT, TBS</p>
                    </div>
                    <div class="col-md-2 col-xs-12 button-block">
                        <span class="btn">add to package</span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2 col-xs-6">
                        <img src="https://s3.amazonaws.com/streamsavvy/vue-core-slim.png" height="50px">
                    </div>
                    <div class="col-md-2 col-xs-6 price-block">
                        <p><img src="https://s3.amazonaws.com/streamsavvy/dollar.png" height="27px" width="27px"> 30.00</p>
                    </div>
                    <div class="col-md-2 col-xs-12">
                        <p>Base level of sports networks</p>
                    </div>
                    <div class="col-md-2 col-xs-12">
                        <p>ESPN, ESPN2, TNT, TBS, FS1, FS2</p>
                    </div>
                    <div class="col-md-2 col-xs-12 button-block">
                        <span class="btn">add to package</span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2 col-xs-6">
                        <img src="https://s3.amazonaws.com/streamsavvy/vue_access_slim.png" height="50px">
                    </div>
                    <div class="col-md-2 col-xs-6 price-block">
                        <p><img src="https://s3.amazonaws.com/streamsavvy/dollar.png" height="27px" width="27px"> 35.00</p>
                    </div>
                    <div class="col-md-2 col-xs-12">
                        <p>Complete sports package with entire ESPN family, college football, golf, and more</p>
                    </div>
                    <div class="col-md-2 col-xs-12">
                        <p>ESPN, ESPN2, ESPNU, BTN, FS, GC, TNT, TBS, FS1, FS2</p>
                    </div>
                    <div class="col-md-2 col-xs-12 button-block">
                        <span class="btn">add to package</span>
                    </div>
                </div>

            </div>

        </div>

        <!-- <div class="col-xs-2" id="block-fixed-size">
            <div class="right-border">
                <p class="big-game"><img src="https://s3.amazonaws.com/streamsavvy/one.png" height="35px"> Big Game</p>
            </div>
            <div class="right-border">
                <h6 class="core-package"><img src="https://s3.amazonaws.com/streamsavvy/two.png" height="35px"> Core Package</h6>
            </div>
        </div>
        <div class="col-xs-2" id="block-fixed-size">
            <p><img src="https://s3.amazonaws.com/streamsavvy/over_the_air.png" height="45px"></p>
            <p><img src="https://s3.amazonaws.com/streamsavvy/sling.png" height="45px"></p>
            <p><img src="https://s3.amazonaws.com/streamsavvy/vue-core-slim.png" height="50px"></p>
            <p><img src="https://s3.amazonaws.com/streamsavvy/vue_access_slim.png" height="50px"></p>
        </div>
        <div class="col-xs-2" id="block-fixed-size">
            <p><img src="https://s3.amazonaws.com/streamsavvy/dollar.png" height="27px" width="27px"> Free</p>
            <p><img src="https://s3.amazonaws.com/streamsavvy/dollar.png" height="27px" width="27px"> 20.00</p>
            <p><img src="https://s3.amazonaws.com/streamsavvy/dollar.png" height="27px" width="27px"> 30.00</p>
            <p><img src="https://s3.amazonaws.com/streamsavvy/dollar.png" height="27px" width="27px"> 35.00</p>
        </div>
        <div class="col-xs-2" id="block-fixed-size">
            <p>Major live sporting events</p>
            <p>Base level of sports networks</p>
            <p>Base level of sports networks</p>
            <p>Complete sports package</p>
        </div>
        <div class="col-xs-2" id="block-fixed-size">
            <p>ABC, NBC, CBS, FOX, CW</p>
            <p>ESPN, ESPN2, TNT, TBS</p>
            <p>ESPN, ESPN2, TNT, TBS, FS1, FS2</p>
            <p>ESPN, ESPN2, ESPNU, BTN, FS, GC, TNT, TBS, FS1, FS2</p>
        </div>
        <div class="col-xs-2" id="block-fixed-size">
            <p><span class="btn">add to package</span></p>
            <p><span class="btn">add to package</span></p>
            <p><span class="btn">add to package</span></p>
            <p><span class="btn">add to package</span></p>
        </div> -->
    </div>
</div>
