<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 footer">
                <img class="img-responsive foot-pic foot-logo" src="/static/img/SS_Mark_white.png" alt="">
                <img class="img-responsive foot-pic foot-name" src="/static/img/SS_Wordmark_White.png" alt="">
                <div class="footer-right">
                    <a href="#/error/coming-soon" target="_blank">About Us</a>
                    <a href="#/error/coming-soon" target="_blank">Contact Us</a>
                    <a href="https://www.facebook.com/pages/StreamSavvy/904023313005052"><i
                            class="icon icon-facebook-official icon-2x" target="_blank"></i></a>
                    <a href="https://twitter.com/streamsavvy"><i class="icon icon-twitter icon-2x" target="_blank"></i></a>
                </div>
                <!-- Google Tag Manager -->
                    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-KHF9ZT"
                    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
                    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
                    })(window,document,'script','dataLayer','GTM-KHF9ZT');</script>
                <!-- End Google Tag Manager -->
            </div>
        </div>
    </div>
</footer>