<!--<div class="container">
  <div class="jumbotron">
    <h1>Welcome to streamsavvy</h1>
    <p>Let's get you started on cutting the cord once and for all!</p>
  </div>

  <a ui-sref="nav.index" class="btn btn-primary">Cut the cord</a>
</div>-->

<section class="nav-hero">
   <!-- <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
        <div class="container-fluid">

            <div class="navbar-header">
                <a href="/#/"><img class="img-responsive nav-logo logo just-logo" src="/static/img/SS_Mark_red.png"/></a>
                <a href="/#/"><img class="img-responsive nav-logo logo logo-and-text" src="/static/img/SS_Wordmark_White.png"/></a>

                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="">About Us</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="" class="contact-us-link">Contact Us</a></li>
                    </ul>
            </div>
        </div>
    </nav> -->

    <section class="hero">
        <div class="intro-header">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-lg-12">
                        <div class="intro-message">
                            <h1 class="intro-question">Ready to cut the cord? Let us show you how<br> and where to watch your favorite content.</h1>
                            <h5 class="intro-sub-question">All the cool kids are doing it. Including hipsters, tech nerds and even<br> YOUR MOM. For realz(do people still say that?)</h5>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
</section>



<section class="usr-paths">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12  col-md-6 usr-path-left">
                <div class="usr-path-header">
                    <h1>Help me Ditch Cable!</h1>

                    <h3>It's easy as 1, 2, 3.</h3>
                </div>

                <img class="img-responsive" src="/static/img/col-left-draft.png" alt="">
                <button type="button" class="btn btn-primary btn-lg show-me-btn"
                        onclick="location.href='#/getting-started/step/1';">Get Started
                </button>
            </div>


            <div class="col-xs-12  col-md-6 usr-path-right">
                <div class="usr-path-header">
                    <h1>Just Show Me Where to Watch My Stuff</h1>
                    <h3>You got dis.</h3>
                </div>
                <img class="img-responsive" src="/static/img/usrpathright.png" alt="">
                <button type="button" class="btn btn-primary btn-lg btn-red find-show-btn">Find Your Show's</button>
            </div>
        </div>
    </div>
</section>

<section class="money">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 why-money">
                <h1 class="why-money-title">Ready to Save Fat Stacks?</h1>
                <hr/>
                <h5>It's simple</h5>
                <img class="img-responsive stacks" src="/static/img/grab-cash.png" alt="">
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 money-reasons-left">
                <p>Cable Channels you <br>never watch.</p>
            </div>
            <div class="col-md-6 money-reasons-right">
                <p>Bundled Streaming Services <br>of the shows you want.</p>
            </div>


        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="about-money">Oh it's about the money too! Cord cutters save between $500 and $1000 yearly when switching to streaming services.</p>
            </div>
        </div>
    </div>
</section>

<section class="still-confused">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 confused">
                <div class="still-explain">
                    <h1>Still Confused and Need More Context?</h1>
                    <button type="button" class="btn btn-primary btn-lg let-us-explain">
                        Let Us Explain
                    </button>
                </div>

            </div>
        </div>
    </div>
</section>
<section class="related-articles">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 articles">
                <h1 class="articles-title">What's the buzz about?</h1>
                <h5>Check out these related articles</h5>

                <div class="poster-row">
                    <div class="poster btn square">
                        <!--Image -->
                        <img class="img-responsive poster-logo" src="/static/img/mashable-logo.png">
                        <!--Article Title -->
                        <div class="tart quickfit">Why millenials are increasingly cutting the cord.</div>
                        <!--Read Article: Link -->
                        <div class="article-link green-link">Read the Article</div>
                        <!-- the following anchor tag and span is a temporary workaround to have the entire div clickable without making it a button -->
                        <a href="http://mashable.com/2015/03/02/millennial-cord-cutter/" target="_blank">
                            <span class="link-spanner"></span>
                        </a>
                    </div>
                    <div class="poster btn square">
                        <img class="img-responsive poster-logo" src="/static/img/time-logo.png">

                        <div class="tart quickfit">7 Streaming TV Packages That Will Let You Cut the Cord For Good</div>
                        <div class="article-link green-link">Read the Article</div>
                        <a href="http://time.com/money/3963077/streaming-packages-cord-cutting-cable/" target="_blank">
                            <span class="link-spanner"></span>
                        </a>
                    </div>
                    <div class="poster btn square">
                        <img class="img-responsive poster-logo" src="/static/img/nyt-logo.png">

                        <div class="tart quickfit">Have You Cut the Cable Cord?</div>
                        <div class="article-link green-link">Read the Article</div>
                        <a href="http://takingnote.blogs.nytimes.com/2015/08/21/have-you-cut-the-cable-cord/"
                           target="_blank">
                            <span class="link-spanner"></span>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
