<section>
    <div class="container-fluid pill-container">
        <div class=" step-row">
            <div class=" step-container ">
                <div id="step-one" class="center step-element"
                     ng-class="{active: stateStep == 1,  step_finished : stateStep > 1}"
                     ng-click="navigate(1)">
                    <span ng-if="stateStep<2">1</span>
                    <span class="glyphicon glyphicon-ok" ng-if="stateStep>1"></span>
                </div>
                <span class="step-title" ng-class="{active: stateStep == 1,  step_finished : stateStep > 1  }">
                    Select Shows
                </span>
            </div>
            <uib-progressbar class="transition-bar" value="0"></uib-progressbar>
            <div class="step-container">
                <div id="step-two" class="center step-element"
                     ng-class="{active: stateStep == 2, step_finished : stateStep > 2  }"
                     ng-click="navigate(2)">
                    <span ng-if="stateStep<3">2</span>
                    <span class="glyphicon glyphicon-ok" ng-if="stateStep > 2"></span>
                </div>
                <span class="step-title" ng-class="{active: stateStep == 2, step_finished : stateStep > 2  }">
                    Select Hardware
                </span>
            </div>
            <uib-progressbar class="transition-bar" value="100"></uib-progressbar>
            <div class="step-container">
                <div id="step-three" class="center step-element"
                     ng-class="{active: stateStep == 3,  step_finished : stateStep > 3  }"
                     ng-click="navigate(3)">
                    <span ng-if="stateStep < 4">3</span>
                    <span class="glyphicon glyphicon-ok" ng-if="stateStep > 3"></span>
                </div>

                <span class="step-title" ng-class="{active: stateStep == 3,  step_finished : stateStep > 3  }">
                    Bundle It
                </span>
            </div>
            <uib-progressbar class="transition-bar" value="100"></uib-progressbar>
            <div class="step-container">
                <div id="step-four" class="center step-element"
                     ng-class="{active: stateStep == 4,  step_finished : stateStep > 4 }"
                     ng-click="navigate(4)">
                    <span >4</span>
                    <span class="glyphicon glyphicon-ok" ng-if="stateStep > 4"></span>
                </div>

                <span class="step-title" ng-class="{active: stateStep == 4,  step_finished : stateStep > 4 }">
                    Confirmation
                </span>
            </div>
        </div>
    </div>

</section>