<section class="show-input-form">
    <div class="container-fluid">
        <div class="row">

            <div class="col-sm-12 show-input search-bar">
                <input type="text" placeholder="Start typing" id="searchInput" ng-keydown="checkKeyDown($event)"
                       class="form-control" ng-model="searchText.title" ng-change="search()"/>

                <div class="col-sm-12 suggestions">


                    <ul id="suggestions" class="suggestions-list">
                        <li ng-repeat="suggestion in suggestions" class="blockSpan"
                            ng-click="addToSelectedShows(suggestion)"
                            ng-mouseover="$parent.selectedIndex=$index"
                            ng-class="{active : selectedIndex===$index}">
                            {{ suggestion.title }}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>