.device-grid {
  //border-bottom: solid 2px #dedede;

  .step-three {

    margin-top: 5%;
    margin-bottom: 5%;
    //clear: both;
    //min-height: 250px;

    .col-sm-2 {


      margin-right: 10px;
      margin-left: 10px;

      padding: 0;
    }

    .hardware-img {
      border: 1px solid #c9c9c9;
      height: 10.55vw;
      width: 9.25vw;

      padding: 10px;

      & + div {
        font-size: 17px;
        font-weight: 900;
        text-align: left;
        margin-top: 13px;
        //margin: 0 auto;
      }
    }
    img {
      width: 100%;
      @include vertical-align()

    }

    .selected {

      border-color: #3b94e3;
      //border-radius: 1.5em;
      border-top-right-radius: 0;
      //padding: 7px;

      //.checkmark {
      //  background-color: #ffffff;
      //  font-size: 2em;
      //  position: absolute;
      //  border-radius: 100%;
      //  color: #3b94e3;
      //  z-index: 2;
      //  top: -12px;
      //  right: 5px;
      //  display: block;
      //
      //}
    }

  }
}

.btn-row {
  margin-top: 3%;
  margin-bottom: 3%;

  .go_fwd {
    background-color: #45a7e5;
    font-weight: 3 00;
  }

  .disabled {
    background-color: #a1d3f2;
    opacity: 1;

  }

  .go_back {
    position: relative;
    padding-top: 1.5%;
    margin-bottom: 5%;
    margin-right: 7%;
    text-decoration: underline;
    color: black;
    vertical-align: middle;
  }

  .go_fwd {
    position: absolute;
    bottom: 0;
    left: 5%;

  }

  .step-btn {
    height: 50px;
    position: relative;
    padding-right: 5px;
  }
}
