.placeholder {
  pointer-events: none;
  position: absolute;
  width: calc(100% + 5px);
  height: calc(100vh + 5px);
  z-index: 100;
  top: 0;
  left: 0;
  //background: #fff;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  //opacity: .2;
}

.show-grid {
  margin-top: 20px;

  width: 100%;

  .col-sm-3 {
    margin-top: 8.5px;
    margin-bottom: 8.5px;
    position: relative;
    //padding : 0;
    //margin:
  }

  img {
    width: 100%;
  }

}

.dashboard-background {

 background: #282537;
 background-image: -webkit-radial-gradient(top, circle cover, #3c3b52 0%, #252233 80%);
 background-image: -moz-radial-gradient(top, circle cover, #3c3b52 0%, #252233 80%);
 background-image: -o-radial-gradient(top, circle cover, #3c3b52 0%, #252233 80%);
 background-image: radial-gradient(top, circle cover, #3c3b52 0%, #252233 80%);
}

//.transition-placeholder {
//  height: 100%;
//  width: 100%;
//  display: none;
//  position: absolute;
//  background: white;
//  top: 0px;
//  left: 0px;
//}

.placeholder.placeholder--trans-in {
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  -webkit-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.placeholder.placeholder--trans-out {
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}

.blur-and-fill {

  -webkit-filter: blur(7px);
  filter: blur(7px);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.0), $dark);
}

