.prog_section {
  background-color: #f4f4f4;
  padding-top: 30px;
  padding-bottom : 10px;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}

.step-row {
  background-color: #f4f4f4;
  margin: 0 auto;
  max-width: 600px;
  //padding: 10%;
  padding-top: 0;
  padding-bottom: 0;
  align-content: center;
  display: flex;
  align-items: center;


  .progress-bar {
    background-color: #4FB0E8;

  }

  .green .progress-bar {
    background-color : #31CE82;
  }

  .progress {
    margin-bottom: 35px;
    background-color: #E9E9E9;
  }

  .transition-bar {
    height: 5px;
    width: 100px;
    //padding: px;
    display: inline-block;
    margin-left: -4%;
    margin-right: -4%;
    //margin-top: -1%;
    position: relative;
    background-color: #E9E9E9;

  }
}

.step-container {

  padding-bottom: 10px;
  margin: auto;
  width: 100px;
  text-align: center;
  line-height: 30px;
  display: inline-block;
  white-space: nowrap;

  .step-title {
    color: #808080;
  }

  .step-element {
    position: relative;
    margin: auto;
    width: 35px;
    height: 35px;

    border-width: 3px;
    border-color: #c9c9c9;
    border-style: solid;
    border-radius: 35px;
    text-align: center;

    span {
      position: absolute;
      color: #808080;
      font-size: 14px;
      font-weight: bold;
      left: 10px;
    }

  }

  .active {
    border-color: #4fb0e8;
    animation: to-active 500ms linear;
    color: #4fb0e8;

    span {
      color: #4fb0e8;
      animation: to-active 500ms linear;
    }



  }


  .step_finished {


    border-color: #31CE82;
    background-color: #31CE82;

    span {
      position: absolute;
      top: 6px;
      left: 6px;
      font-size: 17px;
      color: white;
    }


    & + span {
      background-color: transparent;
      color: #31CE82;
    }
  }

}

.pill-container {
  padding-left: 10%;
  padding-right: 10%;
  max-width: 1000px;
}

@keyframes to-active {
  0% {
    border-color: #c9c9c9;
    color: #808080;

  }

  100% {
    border-color: #4fb0e8;
    color: #4fb0e8;

  }
}

@keyframes to-inactive {
  0% {
    //width: 120px;
    //background: #3bbc69;
    //border-style: none;

  }

  100% {
    //width: 40px;
    //background: #ffffff;
  }

}

.black-hr {
  border-color: black;
}