<section>
    <div class="container-fluid pill-container">
        <div class=" step-row">
            <div class=" step-container ">
                <div id="step-one" class="center step-element"
                     ng-class="{make_active: stateStep == 1,  step_finished : stateStep > 1  }"
                     ng-click="navigate(1)">
                    <span>1</span>
                </div>
                <span class="text-to-overflow">Select Shows</span>
            </div>
            <uib-progressbar class="transition-bar" value="100"></uib-progressbar>
            <div class="step-container">
                <div id="step-two" class="center step-element"
                     ng-class="{make_active: stateStep == 2, step_finished : stateStep > 2  }"
                     ng-click="navigate(2)">
                    <span>2</span>

                </div>
                <span class="text-to-overflow">Select Hardware</span>
            </div>
            <uib-progressbar class="transition-bar" value="100"></uib-progressbar>
            <div class="step-container">
                <div id="step-three" class="center step-element"
                     ng-class="{make_active: stateStep == 3,  step_finished : stateStep > 3  }"
                     ng-click="navigate(3)">
                    <span>3</span>
                </div>

                <span class="text-to-overflow">Bundle It</span>
            </div>
            <uib-progressbar class="transition-bar" value="100"></uib-progressbar>
            <div class="step-container">
                <div id="step-four" class="center step-element"
                     ng-class="{make_active: stateStep == 4,  step_finished : stateStep > 4 }"
                     ng-click="navigate(4)">
                    <span>4</span>
                </div>

                <span class="text-to-overflow">Confirmation</span>
            </div>
        </div>
    </div>
    <div>
        <hr class="black-hr">
    </div>
</section>