<script type="text/ng-template" id="toolTipTemplate.html">
    <img ng-src='https://s3.amazonaws.com/streamsavvy/tool_tip_tiles/{{ service.source }}'/>
    <button class="btn btn-green btn-tooltip" ng-click="linkToAffiliate()">SUBSCRIBE</button>
</script>

<sports-overlay cs='cs'></sports-overlay>

<div class="col-sm-12 background" ng-if="!cs.category">

    <div id="sticky" class="row">
        <div class="col-xs-9">
            <span class="s-e-l-e-c-t-e-d-s-h-o-w">THIS SHOW HAS BEEN ADDED</span>
        </div>
        <div class="col-xs-3" ng-click="hideDetail($event, 'close-X')">
            <img class="pointer close" src="/static/img/close.png" imageonload/>
        </div>
    </div>
    <div class="row scrolling-part">
        <div class="col-md-8 ss_pic-column">
            <img ng-if="cs.guidebox_data" class="opacity0 show-pic" ng-src="{{ cs.guidebox_data.artwork_608x342 }}"
                 imageonload/>
        </div>
        <div class="service-options col-md-4">

            <div ng-if="emptyServices()" class="">Unfortunately this show is not available through streaming. Feel free
                to drop us an <a
                        ng-href="mailto:info@streamsavvy.tv?Subject=We want {{ cs.title }}">email</a>, let us know you
                want
                to stream this show, and we will work with the networks to make it available.
                <a ng-href="mailto:info@streamsavvy.tv?Subject=We want {{ cs.title }}">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                </a>
            </div>

            <div ng-if="!emptyServices()">
                <span class="please-select-how-yo ">Here's how you can watch {{ cs.title }}</span>
            </div>

            <div id="overlay-icons">
                <div class="window row live" ng-repeat="key in detailSources.sortedServices"
                     ng-if="detailSources[key].length > 0 && key !== 'misc'">
                    <div class="window-label">{{ fixTitle(key) }}</div>
                    <viewing-window
                         ng-repeat="service in detailSources[key] | unique : 'source'" service="service"
                         detail="detailSources">
                    </viewing-window>
                    <!-- <div class="col-md-4 col-sm-3 col-xs-4 window-service" ng-hide="service.hide"
                         ng-repeat="service in detailSources[key] | unique : 'source' "
                         uib-tooltip-template="'toolTipTemplate.html'" tooltip-placement="left"  tooltip-trigger="none"
                    tooltip-is-open="service.isOpen" ng-click="toggleTooltip()">

                        <img sourced service="service" class="opacity0"
                             ng-src="https://s3.amazonaws.com/streamsavvy/service_logos/sm_2x/{{ service.source }}"
                             imageonload/>
                    </div> -->
                </div>
            </div>


            <div class="col-sm-4 add-another" ng-click="hideDetail($event, 'Add show button')">
                <button class="btn btn-red btn-sm"> add another show</button>
            </div>
        </div>
    </div>

    <div class="row title-with-ratings">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-12">
                    <span class="show-title">{{ cs.guidebox_data.title }}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row synopsis-with-info ">
        <div class="col-xs-8"><p class="synopsis">
            {{ cs.guidebox_data.detail.overview }}
        </p></div>

        <div class="show-info col-xs-4">
            <ul>
                <li><span class="bold">Status: </span>{{ cs.guidebox_data.detail.status }}</li>
                <li><span class="bold">Release date:</span> {{ formatDate(cs.guidebox_data.first_aired) }}</li>
                <li>
                    <span class="bold">
                        Genres:
                    </span>

                    <span ng-repeat="genre in cs.guidebox_data.detail.genres">
                        {{ genre.title }}
                        <span ng-if="!$last">|</span>
                    </span>
                </li>
            </ul>
        </div>
    </div>
</div>
