<div class="col-sm-12 background">

    <div class="row">
        <div class="col-sm-11">
            <span class="s-e-l-e-c-t-e-d-s-h-o-w">Selected Show</span>
        </div>
        <div class="col-sm-1" ng-click="hideDetail($event)">
            <img class="close" src="/static/img/close.png"/>
        </div>
    </div>
    <div class="row ">
        <div class="col-md-8">
            <img class="show-pic" ng-src="{{ cs.guidebox_data.artwork_608x342 }}">

        </div>
        <div class="service-options col-md-4">

                <div class="col-sm-4" ng-if="cs.on_netflix">
                    <img class="" ng-src="https://s3.amazonaws.com/streamsavvy/service_logos/{{ service.source }}" >
                </div>
                <div class="col-sm-4" ng-repeat='service in detailSources()'>
                    <img class="" ng-src="https://s3.amazonaws.com/streamsavvy/service_logos/{{ service.guidebox_data.short_name }}" >
                    <img class="" ng-src="https://s3.amazonaws.com/streamsavvy/service_logos/{{ service.source }}" >
                </div>
            </div>
        </div>
    </div>

    <div class="row title-with-ratings">
        <div class="col-xs-8">
            <div class="row">
                <div class="col-xs-6">
                    <span class="show-title"><a href="#">{{ cs.guidebox_data.title }}</a></span>
                </div>


                <div class="col-xs-6 ratings">
                    <div class="col-xs-4">
                        <img src="/static/img/fresh.svg/">
                        <span class="score">100%</span>
                    </div>
                    <div class="col-xs-4">
                        <img src="/static/img/limav-flat-gradient-social-i-m-db.svg">
                        <span class="score">0.5/10</span>
                    </div>
                    <div class="col-xs-4">
                        <img src="/static/img/s-s-mark.svg">
                        <span class="score"> 7.8/10</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row synopsis-with-info ">
        <div class="col-xs-8"><p class="synopsis">
            {{ cs.guidebox_data.detail.overview }}
        </p></div>

        <div class="show-info col-xs-4">
            <ul>
                <li><span>Number of seasons:</span> 33</li>
                <li><span>Release</span> date: 29 February 2016</li>
                <li><span>Genres:</span> Romance | Romance | Romance | Romance</li>
            </ul>
        </div>
    </div>

</div>