
show-detail {

  .fade {
    pointer-events: none;
  }

  text-transform: none;
  font-family: AvenirNext-Bold;
  font-size: 14px;
  line-height: 1.2;
  color: $white;
  top: 55px;
  left: -15px;
  position: absolute;

  .background {
    background: none;
    z-index: 101;
    padding-top: 15px;
    padding-left: 30px;
    height: 95vh;
  }

  .close {
    width: 21px;
    height: 21px;
    object-fit: contain;
    opacity: 100;
  }
  .ss_pic-column {
    margin-bottom: 20px;
    img.show-pic {
      width: 100%;
      //width: 741px;
      margin-left: 13px;
      border-radius: 2.7%;
      //height: 399px;
      object-fit: contain;
      box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.5);
    }
  }

  .s-e-l-e-c-t-e-d-s-h-o-w {
    width: 105px;
    height: 16px;
    font-size: 12px;
    letter-spacing: 0.5px;
    color: $white;
  }

  .please-select-how-yo {
    word-wrap: normal;
    text-transform: none;
    //width: 310px;
    height: 16px;
    display: block;
    font-size: 12px;
    letter-spacing: 0.5px;
    color: $white;
    margin-bottom: 15px;
  }

  .main-image {
    width: 741px;
    height: 399px;
    object-fit: contain;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.5);
  }

  .mask-copy-2 {
    //width: 362px;
    height: 110px;
    border-radius: 4px;
    box-shadow: 0 -1px 0 0 rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.6);
    opacity: 10;
    margin-top: 10px;
  }
  .ss_source {
    margin-top: 15px;
    a {
      color: white;
    }
  }
  .service-options {
    padding-top: 10px;
    display: table-cell;
    vertical-align: bottom;

    //padding-top: 10px;
    .window.row.live {
      margin-left: 2px
    }
    .window-label {
      margin-top: 10px;
      margin-bottom: 10px;
    }

    div {
      object-fit: contain;
      margin-bottom: 3%;
      height: auto;

      img {
        width: 100%;

      }
    }
    //@include top-n-bottom-margin(5px);

  }
  .add-another {
    margin-top: 20px;
    width: 100%;

    .btn {
      min-width: 100px;
      width: 100%;
    }
  }
  .fresh {
    width: 20px;
    height: 21px;
    object-fit: contain;
  }
  .title-with-ratings {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .show-title {
    text-transform: none;
    //width: 176px;
    //height: 38px;
    margin-left: 33px;
    font-family: AvenirNext-Bold;
    font-size: 28px;
    letter-spacing: 0.4px;
    color: $white;

  }
  .network-title-logo {
    height: 24px;
    vertical-align: top;
    padding-left: 10px;
  }
  .score {
    //width: 31px;
    height: 19px;
    font-family: Lato;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 200;
    color: $white;
  }
  .close:hover {
    opacity: 100;
  }

  .ratings {
    line-height: 33px;
  }

  .synopsis {
    margin-left: 33px;
    font-family: Lato;
    font-size: 14px;
    line-height: 1.4;
    font-weight: 200;
    color: $white;
  }

  .show-info {

    span.bold {

      font-weight: bold;
    }

    ul {
      font-weight: 200;
    }
  }

}

.available {
  opacity: 1 !important;
}

.fixed {
  position: fixed;
  z-index: 1000;
  top: 50px;
  width: 100%;
  background: $dark-98;

  & + div {
    margin-top: 10px;
  }
}

.synopsis-with-info {
  padding-bottom: 5%;
}

@media (max-width: 767px) {
  .placeholder {
    background: black;
  }

  .black-mobile-bg {
    background: black;
  }

  #sticky {
    padding: 10px;
    height: 41px;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    background: rgba(0, 0, 0, .4);
  }
}

.col-xs-4.window-service.ng-scope {
  height: 30px;
}

#overlay-icons {
}

@media(max-width: 991px) {
  img {
    //height: 100%;
    //width: auto;
  }
}

@media (max-width: 767px) {

  .window-service {
    min-height: 63px
  }

  show-detail {
    .synopsis, .show-info li {
      font-weight: 300;
    }

  }
}

.btn.btn-green.btn-tooltip {
  @extend .nav-mgmt-btn;

  max-width: 100%;
  margin-top: 10px;
  //width: 9px;
}

.ng-isolate-scope.left.fade.tooltip.in {
  pointer-events: auto;
}

.conf-header {

  white-space: nowrap;
  padding-bottom: 20px;
}

.game_divider {

  border-bottom: white 2px dotted;
}

.sched-left-border {
}

.schedule {
  //text-align: center;
  padding-bottom: 100px;

  width: 90%;

  //width: 100%;

  & div {
    //height: 100px;
    //line-height: 100px;
  }

  img {
    //height: 100%;
  }
  .opponent-img {
    height: 5vh;

  }

  .opponent-name {
    text-align: center;
    height: 25px;
    line-height: 20px;

  }

}

.net-logo img {
  height: 10px;
}

.net-name {
}

.suggestions {

}

.col-sm-12.background.container.schedule {
  padding-left: 5%;
  padding-right: 5%;

}

.caveat {

  font-size: 8px;
  position: absolute;
  //bottom: -10px;
}

sports-overlay {

  sport-streaming-suggestion {
    padding-top: 10px;
    display: table-cell;
    vertical-align: bottom;

    //padding-top: 10px;
    .window.row.live {
      margin-left: 2px
    }
    .window-label {
      margin-top: 10px;
      margin-bottom: 10px;
    }

    div.tooltip-inner {
      object-fit: contain;
      //margin-bottom: 3%;
      height: auto;

      img {
        width: 100%;
        object-fit: contain;
        //margin-bottom: 3%;
        height: auto;

      }
    }
  }
}

.game-date {

}

@media (max-width: 320px) {
  .row {
    margin-left: 0;
    margin-right: 0;
  }

  .row.show-grid-container {
    margin-right: 0;
    margin-left: 0;
  }

  .show-title {
    //padding: 0;
  }

  img.pointer.show-grid-logo.ng-scope.loaded {

    width: initial;
    height: 95%;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

@media (max-width: 767px) {

  .schedule div {
    .headline {
      padding-top: 20px;
      text-align: center;
      line-height: 14px;
    }
    .game-status {
    }

  }
  .conf-header {
    display: none;
  }

  .game-divider {
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .col-sm-12.background.container.schedule {

  }

  .row.game_divider {
    border: none;
    height: 30%;
  }

  .col-xs-12.opponent-img {
    display: inline-flex;
    height: 75%;

    img {
      height: 60%;
      display: block;

    }

  }
  .sched-left-border {
  }

}

.opponent-logo {
  height: 100%;
  vertical-align: top;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

thead {
  th {
    text-align: center;
  }
}

table {
  margin: 0 auto;
  max-width: 100%;
  table-layout: fixed;

  td {
    text-align: center;
  }
}

sport-streaming-suggestion {

  .schedule {
    div {
      height: 10px;
    }

  }

  .schedule div img {
    //max-width: 30%;
    max-height: 30%;
    display: block;
    height: 20px;

  }
}

.game-status {
  text-align: center;
}

.schedule sport-streaming-suggestion img {
  //max-width: 30%;
  //max-height: 30%;
  //display: block;
  height: 20px;

}

@media(max-width: 425px) {


  .row {
    margin-left: 0;
    margin-right: 0;
  }

  .col-sm-12.background.container.schedule {
    padding-left: 30px;
    padding-right: 0;
  }

  table {
    font-size: 9px;
  }

}

.team-logo {
height: 100%;
}
