<div class="col-sm-12 background">

    <div class="row">
        <div class="col-sm-9">
            <span class="s-e-l-e-c-t-e-d-s-h-o-w">Selected Show</span>
        </div>
        <div class="col-sm-3" ng-click="hideDetail($event)">
            <img class="close" src="/static/img/close.png"/>
        </div>
    </div>
    <div class="row ">
        <div class="col-md-8">
            <img class="show-pic" ng-src="{{ cs.guidebox_data.artwork_608x342 }}">

        </div>
        <div class="service-options col-md-4">

                <div class="col-sm-4" ng-if="cs.on_netflix">
                    <img class="" ng-src="https://s3.amazonaws.com/streamsavvy/service_logos/netflix" >
                </div>
                <div class="col-sm-4" ng-repeat='service in detailSources() | onSling:true '>

                    <img class="" ng-src="https://s3.amazonaws.com/streamsavvy/service_logos/sling-tv.svg" >
                    <img class="" ng-src="https://s3.amazonaws.com/streamsavvy/service_logos/{{ service.source }}" >

                </div>
            <div class="col-sm-4" ng-repeat='service in detailSources() | onSling:false'>
                    <img class="" ng-src="https://s3.amazonaws.com/streamsavvy/service_logos/{{ service.source }}" >
                </div>

            </div>
        <div class="col-sm-4" ng-click="hideDetail($event)">
            <button class="btn btn-red btn-sm"> add another show</button>
        </div>
    </div>

    <div class="row title-with-ratings">
        <div class="col-xs-8">
            <div class="row">
                <div class="col-xs-6">
                    <span class="show-title">{{ cs.guidebox_data.title }}</span>
                </div>


                <!--<div class="col-xs-6 ratings">
                    <div class="col-xs-4">
                        <img src="/static/img/fresh.svg/">
                        <span class="score">100%</span>
                    </div>
                    <div class="col-xs-4">
                        <img src="/static/img/limav-flat-gradient-social-i-m-db.svg">
                        <span class="score">0.5/10</span>
                    </div>
                    <div class="col-xs-4">
                        <img src="/static/img/s-s-mark.svg">
                        <span class="score"> 7.8/10</span>
                    </div>
                </div>-->
            </div>
        </div>
    </div>
    <div class="row synopsis-with-info ">
        <div class="col-xs-8"><p class="synopsis">
            {{ cs.guidebox_data.detail.overview }}
        </p></div>

        <div class="show-info col-xs-4">
            <ul>
                <li><span class="bold">Number of seasons:</span> 33</li>
                <li><span class="bold">Release date:</span> {{ formatDate(cs.guidebox_data.first_aired) }}</li>
                <li>
                    <span class="bold">
                        Genres:
                    </span>

                    <span ng-repeat="genre in cs.guidebox_data.detail.genres">
                        {{ genre.title }}
                        <span ng-if="!$last">|</span>
                    </span>
                </li>
            </ul>
        </div>
    </div>

</div>