<div class="col-sm-12 background container schedule">
    <div class="row text-center conf-header">
        {{ cs.json_data.conference }}
        <img class="pointer close" src="/static/img/close.png" ng-click="hideDetail($event, 'close-X')" imageonload/>
    </div>

    <div class="row">
        <div class="col-sm-2 col-xs-6 team-logo">
            <img ng-src="{{ schedule.team_logo }}"/>

        </div>

        <div class="col-sm-10 col-xs-6 headline" data-fittext data-fittext-max="14">
            Here's what you need to know about streaming {{ cs.title }}.
        </div>
    </div>

    <table>
        <thead>

        <tr data-fittext>

            <th>
                DATE
            </th>
            <th>
                STATUS
            </th>
            <th>
                OPPONENT
            </th>
            <th>
                TIME
            </th>
            <th>
                NETWORK
            </th>
            <th>
                STREAMING OPTIONS
            </th>

        </tr>
        </thead>
        <tbody data-fittext>

        <tr class="" ng-repeat="game in schedule.data" >
            <td class="game-date">
                {{ game.date }}
            </td>
            <td class="game-status">
                {{ game.game_status }}
            </td>
            <td class="">
                <div class="opponent-img">
                    <img class="opponent-logo" ng-src="{{ game.opponent.logo }}"/>
                </div>
                <div class=" opponent-name">
                    {{ game.opponent.name }}
                </div>
            </td>
            <td class="">
                {{ game.result_time.time }}
            </td>
            <td class="">
            <span ng-repeat="name in game.result_time.network" class="net-name">
                {{ name }}
            </span>
            </td>
            <td class="sched-left-border suggestions">
                <div ng-repeat="item in game.suggestion">
                    <sport-streaming-suggestion service="item">

                    </sport-streaming-suggestion>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

</div>
