.ss-hardware-panel {


  @extend %side-panel;
  .row{

    margin-left:11px;
    .hardware-name,.hardware-cost{
    color: $dark-sky-blue;
    }

    img{
      margin-top:20px;
      margin-bottom:10px;
      border-radius: 8px;
    }

  }
  .hardware-header{
    @extend %ss-panel-header;

    margin-top:-55px;


  }

  .hardware-body {
    margin-top: 55px;
  }
}

.hardware-panel {

  height:40vh;
  overflow: scroll;
}