<div class="ss-hardware-panel">
    <div class="service-center" ng-class="{'ready-for-checkout': pkgHasContent}" ng-if="state=='dash.dashboard'">

        <div ng-if="!pkgHasContent">
        </div>
        <div ng-if="pkgHasContent">
            <button class="btn btn-red not-ready " onclick="location.href='#/checkout';">
                <!-- <span ng-if="!pkgHasContent">Add shows or services</span> -->

                <span>Subscribe and watch </span>
            </button>
        </div>
    </div>

    <hardware-row ng-if="state=='mobile.hardware'"></hardware-row>

    <!--

    <div class="hardware-header row">
        <div class="col-xs-10">HARDWARE SUGGESTIONS</div>
        <div class="col-xs-2" ng-click="toggleHardwarePanel()">
            <i ng-if="collapseHardware==false" class="fa fa-chevron-down"></i>
            <i ng-if="collapseHardware==true" class="fa fa-chevron-up"></i>
        </div>
    </div>


    <div class="row hardware-body">


        <div class="col-xs-6" ng-repeat="device in devices" on-click="window.open('device.url)">

            <div class="hardware-img" ng-click="addRemoveHardware(item)"
                 ng-class="{selected: itemSelected(item) }">
                <img class="" ng-src="{{ device.image }}"/>
            </div>
            <div class="hardware-name">
                {{ device.name }}
                &nbsp;
                        <span class="glyphicon glyphicon-info-sign" uib-tooltip="{{ item.description }}"
                              tooltip-placement="right"
                              tooltip-class="vw-tooltip"></span>
            </div>

        </div>
        <div class="col-sm-6">
            <div class="hardware-other">
                <a href="#"> Other device <br> options </a>
                &nbsp;
            </div>
        </div>
    </div>
    -->
</div>

<script>
    //fire google analytics when checkout or hardware mobile is chosen
    ga('create', 'UA-80904699-1', 'auto');
    ga('send', 'pageview');
</script>

<!-- Hotjar Tracking Code for http://www.streamsavvy.tv/#/checkout -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:251713,hjsv:5};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
</script>


