<div id='theGrid' class="container-fluid">
    <div class="row show-grid-container">
        <div class=" col-sm-12 grid-title" ng-if="package.data.content.length > 0"> SHOWS I'VE ADDED</div>
        <div class="col-lg-3 col-md-4 col-xs-6 show-title" ng-repeat="show in package.data.content" open-detail
             ng-click="showDetail(show, $event)" ng-disabled="true">
            <img class="pointer" ng-src="{{ show.guidebox_data.artwork_208x117 }} " imageonload>
            <i class="fa fa-times-circle remove-show" ng-click="removeShow(show, $event)"></i>
        </div>
    </div>
    <div class="row">
        <hr align="center" ng-hide="package.data.content<1">
    </div>

    <div class="row">
        <div class="col-sm-12 grid-title"> POPULAR SHOW SEARCHES</div>


        <!-- TODO un comment for minor release after next -->
       <!-- <div ng-controller="ModuleController">

            <div class="col-sm-4 col-xs-6 popular-shows" ng-repeat="show in snt" ng-click="showDetail(show, $event)">
                <img class="pointer" ng-src="{{ show.img_url }}"/>
            </div>

        </div> -->

        <div class="col-sm-4 col-xs-6 popular-shows" ng-repeat="show in popularShows"
             ng-click="addToSelectedShows(show)">
            <img class="pointer" ng-src="{{ show.guidebox_data.artwork_304x171 }}" imageonload/>
        </div>
    </div>
</div>



