<button ng-click="clearContent()">{{ hello }}</button>



<div id='theGrid' class="container-fluid">
    <div class="row show-grid-container">
        <div class="col-sm-4 show-title" ng-repeat="show in package.data.content" ng-click="showDetail(show, $event)">
            <img ng-src="{{ show.guidebox_data.artwork_304x171 }}">
        </div>

        <hr align="center" ng-hide="package.data.content<1" class="col-sm-12 row">


        <div class="col-sm-4" ng-repeat="show in popularShows">
            <img ng-src="{{ show.guidebox_data.artwork_304x171 }}"/>
        </div>
    </div>
</div>

