.step-four {
  img {
    max-width: 90%;
  }
  .hardware-row{
    height: 180px;
    margin-top:2%;
  }
  .hardware {
    height: 3em;
  }

  .row {
    /*padding: .8em*/;
    margin-bottom: 2%;

    .lets-wrap{
      font-weight: 900;
      margin-bottom: 2%;
      width: 100%;
      text-align: center;
    }
  }

  .service {
    background-color: #808080;
    color: white;
    text-align: center;
    vertical-align: middle;
    line-height: 4em;
    font-weight: 700;
    height: 4em;
    width: 10em;
    margin-top: 1.05em;
  }

  .show-container-div {
    padding: 0;
    width: auto;
    margin-right: 2%;
    margin-bottom: 2%;

  }

  .service-show-list {
    margin-top: 1.5em;
    margin-left: 3em;
    margin-bottom: 1.5em;
  }


  h3{
    padding-top:25px;
    padding-bottom:25px;
    padding-left: 25px;

    border-bottom: solid 2px #dedede;
    border-top: solid 2px #dedede;

    font-weight: 900;
    margin-bottom: 0;

  }
  .services-header{
      border-right: solid 2px #dedede;
      color: #3BBC69;
    }

  .summary-list,.price-list{
    padding-right: 0;
    padding-left: 0;
  }

  .summary-service{
    font-size: 1.32em;
    padding-left:25px;
    text-decoration: underline;

    border-bottom: solid 2px #dedede;
    border-right: solid 2px #dedede;
    padding-bottom: 10px;
  }
  .click-on{
    background-color: #E6E6E6;
    border-right: solid 2px #dedede;
    color: black;
    margin-top:0;

  }
  .service-rows{
    margin-right:0;
    margin-left:0;
    margin-bottom: 0;
  }

  .show {
    //    font-size: 200%;
    display: inline-block !important;
  }

  .selected {
    border: .27em solid;
    border-color: #3b94e3;
  }
  .black-hr {
    border-width: 1px;
    height: 1px;
    max-width: none;
    width: 100%;
    border-color: black;
  }
  .summary-bottom{
    margin-bottom: 5%;
  }


}
