<section >
    <div class="container-fluid step-four">
        <!-- Show  and services -->

        <div class="row">
            <h1 class="lets-wrap">
               Let's Wrap This Up
            </h1>
        </div>
        <div class="row">
        <div class="col-md-9 summary-list"><h3 class="services-header">Services</h1>
                <div class="click-on"><p>Click on the service and you'll be redirected to the appropriate site.</p></div>
        <div class="row service-rows" ng-repeat="row in rows | filter : {selected: true} ">
            <div class=" summary-service">
                {{ row.service.name }}
            </div>
        </div>
        <div class="hardware-list"><h3 class="hardware-header">Hardware</h1></div>
        <div class="click-on"><p>Click on the Hardware and you'll be redirected to the appropriate site.</p></div>
        <div class="row hardware-rows" ng-repeat="item in hardware | filter : {selected: true} ">
            <div class="summary-service">
                {{ item.name }}
            </div>
        </div></div>
            <div class="col-md-3 price-list">
                <div><h3 class="total-header">Total:<span class="total-cost">$696.9</span></h3></div>
                <div class="totals">
                    <div class="hardware-total">Hardware Total: <span class="hardware-cost">${{cost.hardware}}</span></div>
                    <div class="services-total">Your Monthly Total: <span class="services-cost">${{cost.services}}</span></div>
                </div>
            </div>
        </div>

    </div>
</section>

<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 summary-bottom">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="col-sm-6 step-btn">
                            <a class="go_back pull-right" onClick="location.href='#/getting-started/step/2'">
                                Back to Selecting Hardware
                            </a>
                        </div>
                        <div class="col-sm-6 step-btn">
                            <button type="button" class="btn btn-primary btn-lg btn-red find-out go_fwd"
                                    onclick="location.href='#/getting-started/step/4';"
                                    ng-class="{disabled: package.hardware.length < 1}"
                                    ng-disabled='package.hardware.length < 1 '>
                                Finish & Set Up Services
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
