.coming-soon{
  background-color:#1F2325;
  height: 960px;
  .soon-top{
    .close-cross{
    min-width: 0;
    margin-right: 85px;
    float:right;
    }
  }

  .coming-soon-body{
    .row{
      text-align: center;
      color: white;
      .soon-paragraph{
        letter-spacing:2px;
      }
    }

  }
}

