.coming-soon{
  background-color:#1F2325;
  height: 960px;
  .coming-soon-body{
    .row{
      text-align: center;
      color: white;
      .soon-paragraph{
        letter-spacing:2px;
      }
    }

  }
}

