<div class="modal-header">
    <div class="modal-header">
        <h3 class="modal-title">You're So Close!</h3>
        <h6> please authenticare through one of these social networks</h6>
    </div>
    <div class="modal-body">
        <div class="row">
            <button class="btn btn-primary btn-lg round find-out">Instagram</button>
        </div>
        <div class="row">
            <button class="btn btn-primary btn-lg round find-out">FaceBook</button>
        </div>
        <div class="row">
            <button class="btn btn-primary btn-lg round find-out">Twitter</button>
        </div>
    </div>
    <div class="modal-footer">


    </div>
</div>