<div class="service-title row"><!--ng-repeat="service in listOfServices"-->
        <div class="ss_image-purchase row">
          <img class="" ng-src="https://s3.amazonaws.com/streamsavvy/amazon-prime.svg"/>
          <div class="service-options">
            <a>
              I have this service already
            </a>
            <button class="btn btn-remove">Remove</button>
            <button class="btn btn-purchase">Purchase</button>
          </div>
        </div>
          <ul class="list-group ss_show-list">
            <li class="ss_show row">TEST LONG SHOW NAME</li>
              <li class="ss_show row">TEST LONG SHOW NAME</li>
              <li class="ss_show row"> TEST LONG SHOW NAME</li>
              <li class="ss_show row"> TEST LONG SHOW NAME</li>
              <li class="ss_show row"> TEST LONG SHOW NAME</li>
          </ul>
</div>
<div class="service-title row"><!--ng-repeat="service in listOfServices"-->
        <div class="ss_image-purchase row">
          <img class="" ng-src="https://s3.amazonaws.com/streamsavvy/n-b-c-logo.svg"/>
          <div class="service-options">
            <a>
              I have this service already
            </a>
            <button class="btn btn-remove">Remove</button>
            <button class="btn btn-purchase">Purchase</button>
          </div>
        </div>
          <ul class="list-group ss_show-list">
            <li class="ss_show row"> TEST LONG SHOW NAME</li>
              <li class="ss_show row"> TEST LONG SHOW NAME</li>
              <li class="ss_show row"> TEST LONG SHOW NAME</li>
              <li class="ss_show row"> TEST LONG SHOW NAME</li>
              <li class="ss_show row"> TEST LONG SHOW NAME</li>
          </ul>
</div>
