<div class="service-title row" ng-repeat="service in list.ota"><!--ng-repeat="service in listOfServices"-->
        <div class="ss_image-purchase row">
          <img class="" ng-src="https://s3.amazonaws.com/streamsavvy/channel+accounts/{{ service.chan.source }}"/>
          <div class="service-options">
            <a>
              I have this service already
            </a>
            <button class="btn btn-remove">Remove</button>
            <button class="btn btn-purchase">Purchase</button>
          </div>
        </div>
          <ul class="list-group ss_show-list">
            <li class="ss_show row" ng-repeat="show in service.shows">{{ show.title }}</li>
          </ul>
</div>

<div class="service-title row" ng-repeat="service in list.not_ota"><!--ng-repeat="service in listOfServices"-->
        <div class="ss_image-purchase row">
          <img class="" ng-src="https://s3.amazonaws.com/streamsavvy/channel+accounts/{{ service.chan.source }}"/>
          <div class="service-options">
            <a>
              I have this service already
            </a>
            <button class="btn btn-remove">Remove</button>
            <button class="btn btn-purchase">Purchase</button>
          </div>
        </div>
          <ul class="list-group ss_show-list">
            <li class="ss_show row" ng-repeat="show in service.shows">{{ show.title }}</li>
          </ul>
</div>

