  <script type="text/ng-template" id="toolTipTemplate.html">
      <img class="checkoutTooltip" ng-src='https://s3.amazonaws.com/streamsavvy/tool_tip_tiles/{{ service.chan.source }}'/>
    </script>

<div class="image-block" >
    <img class="pointer service-image" ng-click="linkToAffiliate(service)" ng-class="{'ppv-img': key=='ppv'}"  ng-src="https://s3.amazonaws.com/streamsavvy/service_logos/sm_2x/{{ service.chan.source }}" imageonload
    uib-tooltip-template="'toolTipTemplate.html'" tooltip-placement="right"/>
    <div class="windows">
        <span ng-repeat="pane in service.windows">
           {{ pane }}<span ng-if="$first && service.windows.length > 1"> |</span>
        </span>
    </div>
</div>


