<div class="row service-row">
    <checkout-image-block class="col-sm-2" key="key" service="service"></checkout-image-block>

    <div ng-if="windowWidth >= 768">
        <action-block class="col-sm-10" service="service" package="package"></action-block>
    </div>


</div>

<div class="ss_show-list ss_show row">
            <div class="checkout-show-title col-md-2 col-sm-3 col-xs-6" ng-repeat="show in service.shows">
                <img class="checkout-show-img" ng-if="show.title" ng-src="{{ show.guidebox_data.artwork_208x117}}" alt="" imageonload/>
                {{ show.title }}
                <img class="checkout-show-img" ng-if="show.level" ng-src="https://s3.amazonaws.com/streamsavvy/{{ show.category }}.png"  alt="" imageonload/>
                {{ show.level }}
            </div>
            <!--<span class="checkout-remove-show col-sm-2 col-xs-6">REMOVE</span>-->
</div>

<div class="row" ng-if="windowWidth < 768">
    <action-block class=" col-sm-offset-3 col-sm-6" service="service" package="package"></action-block>
</div>
