<div class="col-xs-12 service-row">
        <checkout-image-block class="col-sm-3" key="key" service="service"></checkout-image-block>

        <div ng-if="windowWidth >= 768">
            <action-block class=" col-sm-offset-3 col-sm-6" service="service" package="package"></action-block>
        </div>
        <div class="remove-cross" ng-click="removeElementFromDom()">
            <img ng-click="removeElementFromDom()" class="pull-right"
                 src="https://s3.amazonaws.com/streamsavvy/small-x-copy-4.svg">
        </div>

    </div>

    <div class="row">
        <ul class="ss_show-list">
            <li class="ss_show row" ng-repeat="show in service.shows">
                <div class="checkout-show-title col-sm-2 col-xs-6"> {{ show.title }}</div>
                <span class="checkout-remove-show col-sm-2 col-xs-6">REMOVE</span>
            </li>
        </ul>
    </div>

    <div class="row" ng-if="windowWidth < 768">
        <action-block class=" col-sm-offset-3 col-sm-6" service="service" package="package"></action-block>
    </div>