<div class="row service-row">
    <div class="row">
        <div class="col-sm-12 consolidated-checkout-ppv">
            Purchase shows or seasons individually.
        </div>
    </div>
    <div class="">
        <div class=" ppv-checkout-image-block col-xs-2" ng-repeat="service in value" ng-click="linkToAffiliate(service)">
            <checkout-image-block key="key"
                                  service="service"></checkout-image-block>
        </div>
    </div>
</div>
<div class="row">
    <ul class="ss_show-list">
        <li class="ss_show row" ng-repeat="show in service.shows">
            <div class="checkout-show-title col-md-2 col-sm-3 col-xs-6"> {{ show.title }}</div>
            <!--<span class="checkout-remove-show col-sm-2 col-xs-6">REMOVE</span>-->
        </li>
    </ul>
</div>
